<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");
				
				//progress bar events
				var valeur = 0;
				$('#checkYes').on('click', function(){
					valeur += 20;
					$('.progress-bar').css('width', valeur+'%').attr('aria-valuenow', valeur); 
					$('.progress-bar').html(valeur + '%'); 
				});

				getCheckListQuestions("{{ csrf_token }}", "{% url 'equipmentQuestionsChecklist' %}");
			});

		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div class="namePage">
					HC CHECKLIST
				</div>
				<br />
				<div class="row">
					<div id="progressCheckList" class="progress progress-striped active">
				        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> 
				        	0%
				        </div>
				    </div>
				</div>
				<div class="row">
					<div id="checkList" class="col-xs-12 col-md-12">
					<p>
						Safety Equipment present and working properly?
					</p>
			</div>
			<div class="row">
							
				<div class="col-xs-6 col-md-6">
					<input type="button" id="checkYes" value="YES" />
				</div>
			
				<div class="col-xs-6 col-md-6">
					<input type="button" id="checkNo" value="NO" />
				</div>

			</div>
		</div>
		</div>
		<footer id="foot"></footer>
	</body>
</html>
