<!DOCTYPE html>
<html lang="en">
	<head>
		{%load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");
				$("#btnEnter1").click(function(){
					//alert("Button Pressed!!");
					$("#part1").attr("class", "tab-pane fade");
					$("#part2").attr("class", "tab-pane fade active in").fadeIn(1000);
					$("#p1").attr("class", "");
					$("#p2").addClass("active");
				});
				//Functions filter tractors
				$(".selectFilters").change(function(){
					
					getFilteredMachine("{{ csrf_token }}", "{% url 'getFilteredMachine' %}");
				});
				
				//This can be moved to another file later(script.js)
				function getFilteredMachine(token, url){
					//alert("Teste" + $("#manufacturer").val() + "<br>" + $("#hitch_capacity").val()+ "<br>" + $("#horse_power").val() + "<br>");
					
					$.ajax({
						method: "POST",
						url: url,
						data: {"csrfmiddlewaretoken": token, "manufacturer": $("#manufacturer").val(), "hitch_capacity": $("#hitch_capacity").val(), "horse_power": $("#horse_power").val(), "implement_qr_code": $("#implement").val()},
						datatype: "json",
						success: function(data, status, xhr){
							var len = data.length;
							$("#showEquipmentDiv").html("");
							for(var j=0; j < 10; j++){
								for (var i=1; i < len; i++){
									$("#showEquipmentDiv").append("<div class='tractorFiltered'><img src='"+data[i].photo+"'><br>Id: "+ data[i].asset_number +"<br>Nickname: "+ data[i].nickname +"<br>Id: "+ data[i].asset_number +" </div>");
								}
							}
						}
					});

				}
				
				//Call function to get machines informations.
				$("#findMachine").click(function(){
					getFilteredMachine("{{ csrf_token }}", "{% url 'getFilteredMachine' %}");
				});

			});

		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div id="namePage" style="opacity: 0.5;">
					TASKFLOW
				</div>
				<div id="namePage" style="width: 150px;">
					CREATE NEW TASK
				</div>
				<div id="contentCreateTask">
					<ul class="nav nav-pills" role="tablist" id="flapTask">
						<li id="p1" class="active">
							<a data-toggle="pill" href="#part1">PART 1</a>
						</li>
						<li id="p2">
							<a data-toggle="pill" href="#part2">PART 2</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="part1" class="tab-pane fade in active">
						<div id="aaa">	<div id="divText1">
								<div class="row divPart1">
									<div class="col-xs-4 col-md-4 textLeft1">
										TASK NAME:
									</div>
									<div class="col-xs-8 col-md-8 textRight1">
										<input type="text"/>
									</div>
								</div>

								<div class="row divPart1">
									<div class="col-xs-4 col-md-4 textLeft1">
										FIELD ID:
									</div>
									<div class="col-xs-8 col-md-8 textRight1">
										
										<select class="inputCreateTask">
										  <option value="0"></option>
										  <option value="1">Ranch 1 - Block 1</option>
										  <option value="2">Ranch 3 - Block 3</option>
										  <option value="3">Ranch 6 - Block 5</option>
										  <option value="4">Ranch 9 - Block 8</option>
										</select> 
									</div>
								</div>
								<div class="row divPart1">
									<div class="col-xs-4 col-md-4 textLeft1">
										PASSES NUMBER:
									</div>
									<div class="col-xs-8 col-md-8 textRight1">
										<input type="text"/>
									</div>
								</div>
								<div class="row divPart1">
									<div class="col-xs-4 col-md-4 textLeft1">
										HOURS PREDITION:
									</div>
									<div class="col-xs-8 col-md-8 textRight1">
										<input type="text"/>
									</div>
								</div>
								
								<div class="row divPart1">
									<div class="col-xs-4 col-md-4 textLeft1">
										TIME START:
									</div>
									<div class="col-xs-8 col-md-8 textRight1">
										<input type="time" class="inputCreateTask"/>
									</div>
								</div>
								
								<div class="row divPart1">
									<div class="col-xs-4 col-md-4 textLeft1">
										DATE START:
									</div>
									<div class="col-xs-8 col-md-8 textRight1">
										<input type="date" class="inputCreateTask"/>
									</div>
								</div>
							</div>
							<div id="divDesc1">
								<p style="text-align: left; margin-left: 20px;">DESCRIPTION:</p>
								<textarea form="notesSubmit" id="noteDesc"></textarea>
								<a href="#part2"><input type="button" id="btnEnter1"/></a>
							</div>
						</div>
						
						</div>
						
						<div id="part2" class="tab-pane fade">
							<div id="divText2">
								<div class="row divPart2">
									<div class="col-xs-3 col-md-3 textLeft2">
										MACHINE:
									</div>
									<div class="col-xs-6 col-md-6 textRight2">
										<input type="text"/></ br>
										<input type="button" id="findMachine" value="Find a machine" onClick="$('#findTractor').modal()" class="btnCreateTask" /> 
										<input type="button" value="Scan QRCode" onClick="$('#scanQRCode').modal()" class="btnCreateTask" />
									</div>
									<div class="col-xs-3 col-md-3">
										<img src="{% static 'img/tractor-4.png' %}" class="imgCreate"/>
									</div>
								</div>
								
								<div class="row divPart2">
									<div class="col-xs-3 col-md-3 textLeft2">
										IMPLEMENT:
									</div>
									<div class="col-xs-6 col-md-6 textRight2">
										<input type="text" id="implement"/>
										<input type="button" id="findImplement" value="Find a implement" class="btnCreateTask" />
										<input type="button" value="Scan QRCode" class="btnCreateTask" />
									</div>
									<div class="col-xs-3 col-md-3">
										<img src="{% static 'img/implement.png' %}" class="imgCreate"/>
									</div>
								</div>
							</div>
							<div id="divDesc2">
								<a href="{% url 'schedule' %}"><input type="button" id="btnEnter2"/></a>
							</div>
						</div>
					</div>
	
				</div>
			</div>
			<div class="modal fade" id="findTractor" role="dialog">
				    <div class="modal-dialog findTractor">
				    	 <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title"><strong>Find a Machine</strong></h4>
					        </div>
					        <div class="modal-body">
					          <div id="filterDiv">
					          	<h3>Filters</h3>
					          	Manufacturers:<br>
					          	<select id="manufacturer" class="selectFilters">
					          		<option value="">All</option>
					          		<option value="1">JOHN DEERE</option>
					          		<option value="2">MASSEY-FERGUSON</option>
					          		<option value="3">NEW HOLLAND</option>
					          		<option value="4">VERSATILE</option>
					          		<option value="5">FORD</option>
					          	</select>
					          	<br><br>
					          	HP:<br>
					          	<select id="horse_power" class="selectFilters">
					          		<option value="0">All</option>
					          		<option value="175">175 HP Or Greater</option>
					          		<option value="100">100 HP Or Greater</option>
					          		<option value="40">40 HP Or Greater</option>
					          	</select >
					          	<br><br>
					          	Hitch Capacity:<br>
					          	<select id="hitch_capacity" class="selectFilters">
					          		<option value="0">All</option>
					          		<option value="20000">20 000 lbs or Greater</option>
					          		<option value="15000">15 000 lbs or Greater</option>
					          		<option value="10000">10 000 lbs or Greater</option>
					          		<option value="5000">5 000 lbs or Greater</option>
					          	</select>
					          	
					          </div>
					          <div id="showEquipmentDiv">
					          	
					          </div>
					        </div>
					 		<div class="clearBoth"></div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					</div>
			</div>
			
			<div class="modal fade" id="scanQRCode" role="dialog">
				    <div class="modal-dialog findTractor">
				    	 <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title"><strong>Scan QRCode</strong></h4>
					        </div>
					        <div class="modal-body">
					          	<!--SCANQRCODE -->
					          	<div id="QR-Code" class="container">
							            <div class="panel panel-primary">
							                <div class="panel-heading" style="display: inline-block;width: 100%;  text-align: center; color: white; background: #1F3801;">
							                    
							                    <div style="margin auto 40px;text-align: center;">
							                    	<span style="font-size: 20px">Type:  <input type="text" id="" style="color:black;"/> 
							                    		<a href="#"><button data-dismiss="modal" id="submit" title="Play" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-play"></span></button><a></a>
							                    		or Scan QR Code: </span>
							                    <select id="cameraId" class="form-control" style="display: inline-block;width: auto;"></select>
							                    <button id="play" data-toggle="tooltip" title="Play" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-play"></span></button>
							                    
							                </div>
							            </div>
							            <div class="panel-body">
							                <div class="col-md-12" style="text-align: center;">
							                	
							                    <div class="well" style="position: relative;display: inline-block;">
							                        <canvas id="qr-canvas" width="320" height="240"></canvas>
							                        <div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
							                        <div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
							                        <div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
							                        <div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
							                    </div>
							                    
							                </div>
							                
							            </div>
							            <div class="panel-footer">
							            </div>
							        </div>
							    </div>
							    <!--END SCANQRCODE -->
					        </div>
					 		<div class="clearBoth"></div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					</div>
			</div>
			
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'WebCodeCam/js/mainCreateTaskEquipment.js' %}"></script>
    <script type="text/javascript" src="{% static 'WebCodeCam/js/qrcodelib.js' %}"></script>
    <script type="text/javascript" src="{% static 'WebCodeCam/js/WebCodeCam.js' %}"></script>
</html>
