<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#headHome").load("{% url 'headerHome' %}");
			});
		</script>
	</head>
	<body> 
		<header id="headHome"></header>
		<div class="row" id="driverMenu">
			
			<div class="col-xs-3 col-md-3 driverMenu">
				<a href="{% url 'scanQRCode'%}">
				<input type="button" class="btnMain" id="btnEquipment" />
				</a>
			</div>
			<div class="col-xs-3 col-md-3 driverMenu">
				<a href="{% url 'taskFlow'%}">
				<input type="button" class="btnMain" id="btnTaskflow" />
				</a>
			</div>
			<div class="col-xs-3 col-md-3 driverMenu">
				<a href="{% url 'schedule'%}">
				<input type="button" class="btnMain" id="btnScheduler" />
				</a>
			</div>
			<div class="col-xs-3 col-md-3 driverMenu">
				<a href="{% url 'time_keeper'%}">
				<input type="button" class="btnMain" id="btnTimerkeeper" />
				</a>
			</div>
			
		</div>
	</body>
	<div>
		<img src="{% static 'imgSmall/backgroundFooter.png' %}" id="backgroundFooter">
	</div>
	<footer>
		&copy;2015 Heavy Connect, Inc.
	</footer>
</html>
