<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
			
				$("#head").load("{% url 'header' %}");
			});
		</script>
	</head>

	<body>
		<header id="head"></header>
		<div id="wrapper">		
			<div class="row" id="driverMenu">
				
				<div class="col-xs-12 col-md-4">
					<a href="{% url 'equipment'%}">
						<input type="button" class="btnMain" id="btnEquipment" />
					</a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href="{% url 'task_flow'%}">
						<input type="button" class="btnMain" id="btnTaskflow" />
					</a>
				</div>			
				<div class="col-xs-12 col-md-4">
					<a href="{% url 'time_keeper'%}">
						<input type="button" class="btnMain" id="btnTimerkeeper" />
					</a>
				</div>
		
			</div>
		</div>
		<footer style="background-image: url('{% static 'img/backgroundFooter.png' %}); background-size: 100% 180px; height: 180px"></footer>
	</body>
</html>
