<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">-->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			//variables

			//Events
			$(document).ready(function() {
				var item = {}; // Stores url's parameters

				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");

				getLocation();	
				item = getParametersUrl();
				$("#qr_code").html(item.qr_code);

				loadEquipmentInfo("{{ csrf_token }}", "{% url 'getEquipmentInfo' %}", item.qr_code);
				loadEquipmentStatus("{{ csrf_token }}", "{% url 'equipmentStatus' %}", item.qr_code); //Broken
			});
			//Functions
			function loadEquipmentInfo(token, url, id) {
				$.ajax({
					method: "POST",
					url: url,
					data: {"csrfmiddlewaretoken": token,
						   "qr_code": id},  // id could be qrCode or employeeId
					datatype: "json",
					success: function(data, status, xhr){	 
						if(data.success){
							$("#manufacturer").html(data.manufacturer);
							$("#serial_number").html(data.serial_number);
							$("#model").html(data.model);
							$("#asset_number").html(data.asset_number);
							$("#hours_cost").html(data.hour_cost);
							$("#nickname").html(data.hour_cost);
							$("#hp").html(data.horse_power);
							$("#hitch_sz").html(data.hitch_capacity);
							$("#drawn_size").html(data.drawbar_category);
							$("#acquired_date").html(data.year_purchased);
						}
					}
				});			
			}
			function loadEquipmentStatus(token, url, id) {
				$.ajax({
					method: "POST",
					url: url,
					data: {"csrfmiddlewaretoken": token, "qr_code": id},  // id could be qrCode or employeeId
					datatype: "json",
					success: function(data, status, xhr){	
						if(data.success){
							if(data["status"] == 1){ // status Ok
								changeColorStatus("btnStatus1", "btnStatus2", "btnStatus3");									
							}else if(data["status"] == 2){ // Status Attention
								changeColorStatus("btnStatus2", "btnStatus1", "btnStatus3");						
							}else{ // status Broken
								changeColorStatus("btnStatus3", "btnStatus2", "btnStatus1");							
							}
						}
					}
				});			
			}
			function changeColorStatus(btn1, btn2, btn3){
				$("#" + btn2).css("background-color", "#666");
				$("#" + btn3 ).css("background-color", "#666");
				$("#" + btn1).css("border-bottom", "solid 2px #434300");
				$("#" + btn2).css("border-bottom", "solid 2px #434300");
				$("#" + btn3).css("border-bottom", "solid 2px #434300");				
			}
		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div id="namePage">
					PROFILES
				</div>
			<div id="equipmentContent">	
				<div id="images">
					<img src="{% static 'img/tractor-1.jpg' %}" class="imgs"/>
					<img src="{% static 'img/tractor-2.jpg' %}" class="imgs"/>
					<img src="{% static 'img/tractor-3.jpg' %}" class="imgs"/>
				</div>
				<div class="row rowEquip">
					<div class="col-xs-3 col-md-3" style="padding: 0px; line-height: 18px; padding-top: 5px;">
						QR Sticker: <span id="qr_code"></span>
						</br>Reiter Asset: <span id="asset_number"></span>
						</br>Manufacturer: <span id="manufacturer"></span>
						</br>Model: <span id="model"></span>
						</br>SN: <span id="serial_number"></span>
						</br>Hours: <span id="hours_cost"></span>
						</br></br> <strong>LOCATION:</strong>
					</div>
					<div class="col-xs-3 col-md-3" style="padding: 0px; line-height: 18px; padding-top: 5px;">
						Horse Power: <span id="hp"></span> 
					    </br>Nickname: <span id="nickname"></span>
						</br>Hitch Size: <span id="hitch_sz"></span>
						</br>Drawbar Size: <span id="drawn_size"></span>
						</br>Date Acquired: <span id="acquired_date"></span>
					</div>
					<div class="col-xs-3 col-md-3" id="boxRight1">
						<div style="padding-top: 5px;">
							<strong>Implement:</strong>
							</br><span id="implement"></span>
						</div>
						<div style="padding-top: 10px;">
							<strong>Operator:</strong>
						</br><span id="operator"></span>
						</div>
						<div style="padding-top: 10px;">
							<strong>Task:</strong>
						</br><span id="task"></span>
						</div>
					</div>
					<div class="col-xs-3 col-md-3" id="boxRight2">
						<div>
							<a href="{% url 'updateStatus' %}" style="text-decoration: none;">
							<input type="button" id="btnUpdate" value="Update Status"/>
							</a>
						</div>
						<div>
							<a href="{% url 'taskFlow' %}" style="text-decoration: none;">
							<input type="button" id="btnNewTask" value="Start a New Task"/>
							</a>
						</div>
						<div>
							<a href="{% url 'checklist' %}" style="text-decoration: none;">
							<input type="button" id="btnChecklist" value="Checklist">
							</a>
						</div>
					</div>
				</div>

				<div class="divDown">
					<div class="col-xs-6 col-md-6" style="padding: 0px;">
						<div class="map" id="mapholder"></div>
					</div>
					<div class="col-xs-3 col-md-3" id="colStatus">
						STATUS:
						<div id="btnStatus1" class="pStatus">
							OK! Ready to work
						</div>
						<div id="btnStatus2" class="pStatus">
							SERVICE Needed
						</div>
						<div id="btnStatus3" class="pStatus">
							BROKEN! Do not use
						</div>
					</div>
					<div class="col-xs-3 col-md-3" id="colStatus">
						NOTES:</br>
						<textarea rows="6" cols="20" form="notesSubmit" id="notes"></textarea>
					</div>
				</div>
				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>

</html>
