<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleSmall.css' %}">
		<script>
			//Variables
			var offset = 0;

			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");
				getLastTasks("{{csrf_token}}", "{% url 'pastTaskList' %}", offset, false);	

				$("#btnBack").click(function(){
					upgradePastBox(this.id);
				});

				$("#btnForward").click(function(){
					if(offset == 0){
						alert("{% trans 'There is no past task to be displayed' %}");
					}
					else{
						upgradePastBox(this.id);
					}
				});

			});

			function upgradePastBox(btn){
				
				if(btn == "btnBack" && offset >= 0){
					offset += 2;
					getLastTasks("{{csrf_token}}", "{% url 'pastTaskList' %}", false, btn);
				}else if(btn == "btnForward" && offset >= 2){ 
					offset -= 2;
					getLastTasks("{{csrf_token}}", "{% url 'pastTaskList' %}", false, btn);
				}

			}

			function getLastTasks(token, url, async, btn) {			
			//alert(offset);	
				$.ajax({
					method: "POST",
					url: url,
					async: async,
					data: {"csrfmiddlewaretoken": token, "offset": offset, "limit": 2},
					datatype: "json",
					success: function(data, status, xhr){		
					console.log(offset);
					console.log(data.each_task_info.length);
						if (data.each_task_info.length < 1){
							//$("#btnBack").attr("disabled", true);
							if(btn == "btnForward"){
								clearData();
							}							
							else{
								offset -= 2;
								clearData();
							}							
						}
						else{
							var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
							$(".pastBox").fadeOut(5);
							$(".dateTasks").fadeOut(5);
							$(".dateTasks").fadeIn(1000);
							$(".pastBox").fadeIn(1000);
							for (var i = 0; i < data.each_task_info.length; i++) 
							{	
								//alert(data.length);
								$("#task" + (i+1) + " .hour").html(formatAMPM(data.each_task_info[i].date));
								$("#task" + (i+1) + " .date").html(data.each_task_info[i].date.substring(8,10) + " " +months[parseInt(data.each_task_info[i].date.substring(6, 7))-1].toUpperCase());
								$("#past" + (i+1) + " .field").html(data.each_task_info[i].field);
								$("#past" + (i+1) + " .category").html(data.each_task_info[i].description);
								$("#past" + (i+1) + " .machine").html(data.each_task_info[i].machine_model);
								$("#past" + (i+1) + " .task").html(data.each_task_info[i].category);
								$("#past" + (i+1) + " .duration").html(data.each_task_info[i].duration + " Hours");
								$("#past" + (i+1) + " .implement").html(data.each_task_info[i].implement_model);
								$("#past" + (i+1) + " .task_id").html(data.each_task_info[i].task_id);
							}		
								
						}		
					}
				});			
			}

			function clearData(){
				for (var i = 0; i < 2; i++) 
				{	
					//alert(data.length);
					$("#task" + (i+1) + " .hour").html("");
					$("#task" + (i+1) + " .date").html("NO TASK");
					$("#past" + (i+1) + " .field").html("");
					$("#past" + (i+1) + " .category").html("");
					$("#past" + (i+1) + " .machine").html("");
					$("#past" + (i+1) + " .task").html("");
					$("#past" + (i+1) + " .duration").html("");
					$("#past" + (i+1) + " .implement").html("");
					$("#past" + (i+1) + " .task_id").html("");
				}		
			}
			function formatAMPM(date) {
				var d = new Date(date);
				var hours = d.getHours();
				var minutes = d.getMinutes();
				var ampm = hours >= 12 ? 'PM' : 'AM';
				hours = hours % 12;
				hours = hours ? hours : 12; // the hour '0' should be '12'
				hours = hours < 10 ? '0'+hours : hours;
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ' ' + ampm;
				return strTime;
			}

		</script>
		<style>
			#past1 .task_id, #past2 .task_id
			{
				display: none;
			}
		</style>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div class="namePage" style="padding-top: 15px;">
					{% trans 'HC PAST TASKS' %}
				</div></br></br>
				<div id="divPast">
					<div class="row">
						<div class="col-xs-4 col-md-4 dateTasks">
							<div id="task2">
								<span class="date">&nbsp</span>
								<span class="hour">&nbsp</span>
							</div>
						</div>
						<div class="col-xs-4 col-md-4 dateTasks">
							<div id="task1">
								<span class="date"></span>
								<span class="hour"></span>
							</div>
						</div>
					</div>
					<div class="row" style="margin: 0px;">
						<div class="col-xs-2 col-md-2 btnPastTasks">
							<input type="button" id="btnBack" class="btnBackAdv">
						</div>
						<div class="col-xs-4 col-md-4 pastBox" id="past2">
							<strong>{% trans 'MACHINE' %}: </strong><span class="machine"></span>
							<strong></br>{% trans 'IMPLEMENT' %}: </strong></strong><span class="implement" ></span>
							<strong></br>{% trans 'FIELD' %}: </strong><span class="field" ></span>
							<strong></br>{% trans 'TASK' %}: </strong><span class="task"></span>
							<strong></br>{% trans 'CATEGORY' %}: </strong><span class="category"></span>
							<strong></br>{% trans 'DURATION' %}: </strong><span class="duration"></span>
							<span class="task_id"></span>
						</div>
						<div class="col-xs-4 col-md-4 pastBox" id="past1">
							<strong>{% trans 'MACHINE' %}: </strong><span class="machine"></span>
							<strong></br>{% trans 'IMPLEMENT' %}: </strong><span class="implement" ></span>
							<strong></br>{% trans 'FIELD' %}: </strong><span class="field" ></span>
							<strong></br>{% trans 'TASK' %}: </strong><span class="task"></span>
							<strong></br>{% trans 'CATEGORY' %}: </strong><span class="category"></span>
							<strong></br>{% trans 'DURATION' %}: </strong><span class="duration"></span>
							<span class="task_id"></span>
						</div>
						<div class="col-xs-2 col-md-2 btnPastTasks">
							<input type="button" id="btnForward" class="btnBackAdv">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-md-2 blockBtnReturn">
							<div><a href="{% url 'taskFlow' %}"><input type="button" value="{% trans 'RETURN' %}" id="btnReturn" /></a></div>
						</div>
					</div>
				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>
</html>
