<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");
			});
		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div id="namePage" style="opacity: 0.5;">
					TASKFLOW
				</div>
				<div id="namePage" style="width: 110px;">
					PAST TASKS
				</div>
				<div id="divPast">
					<div class="row">
						<div class="col-xs-4 col-md-4">
							JULY 21</br>
							04:30 PM
						</div>
						<div class="col-xs-4 col-md-4">
							JULY 22</br>
							08:30 AM
						</div>
						<div class="col-xs-4 col-md-4">
							JULY 22</br>
							04:30 PM
						</div>
					</div>
					<div class="row" style="margin: 0px;">
						<div class="col-xs-4 col-md-4 pastBox" id="past1">
							TASKFLOW: RAC4556 CAT 65D
							</br></br>IMPLEMENT: RBF2791 20' DISK
							</br></br>FIELD: HOME RANCH 2A
							</br></br>TASK: DISK 5 PASSES NW
							</br></br>COMPLETED: 4:06 PM 05/30/2015
							</br></br>DURATION: 2:40 HOURS
						</div>
						<div class="col-xs-4 col-md-4 pastBox" id="past2">
							TASKFLOW: RAC4556 CAT 65D
							</br></br>IMPLEMENT: RBF2791 20' DISK
							</br></br>FIELD: HOME RANCH 2A
							</br></br>TASK: DISK 5 PASSES NW
							</br></br>COMPLETED: 4:06 PM 05/30/2015
							</br></br>DURATION: 2:40 HOURS
						</div>
						<div class="col-xs-4 col-md-4 pastBox" id="past3">
							TASKFLOW: RAC4556 CAT 65D
							</br></br>IMPLEMENT: RBF2791 20' DISK
							</br></br>FIELD: HOME RANCH 2A
							</br></br>TASK: DISK 5 PASSES NW
							</br></br>COMPLETED: 4:06 PM 05/30/2015
							</br></br>DURATION: 2:40 HOURS
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div><a href="{% url 'schedule' %}"><input type="button" id="btnSchedulePast" /></a></div>
						</div>
					</div>
				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>
</html>
