<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");

				getLastTasks("{{csrf_token}}", "{% url 'pastTaskList' %}");	
			});

			function getLastTasks(token, url) {
				
					$.ajax({
						method: "POST",
						url: url,
						data: {"csrfmiddlewaretoken": token, "offset": 0, "limit": 3 },
						datatype: "json",
						success: function(data, status, xhr){		
									
							for (var i = 1; i < 4; i++) 
							{
								$("#task" + i + " .date").html(data[i].date.substring(0,10) + "</br>" + data[i].date.substring(10,16));
								$("#past" + i + " .field").html(data[i].field);
								$("#past" + i + " .category").html(data[i].category);
								//$("#past" + i + " .machine").html(data[i].machine);
								//$("#past" + i + " .task").html(data[i].task);
								//$("#past" + i + " .duration").html(data[i].duration);
								//$("#past" + i + " .implement").html(data[i].implement);
							}
							
						}
					});			
			}
		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div id="namePage" style="opacity: 0.5;">
					TASKFLOW
				</div>
				<div id="namePage" style="width: 110px;">
					PAST TASKS
				</div>
				<div id="divPast">
					<div class="row">
						<div class="col-xs-4 col-md-4">
							<div id="task1">
								<span class="date"></span>
							</div>
						</div>
						<div class="col-xs-4 col-md-4">
							<div id="task2">
								<span class="date"></span>
							</div>
						</div>
						<div class="col-xs-4 col-md-4">
							<div id="task3">
								<span class="date"></span>
							</div>
						</div>
					</div>
					<div class="row" style="margin: 0px;">
						<div class="col-xs-4 col-md-4 pastBox" id="past1">
							MACHINE: <span class="machine"></span>
							</br></br>IMPLEMENT: <span class="implement" ></span>
							</br></br>FIELD: <span class="field" ></span>
							</br></br>TASK: <span class="task"></span>
							</br></br>CATEGORY: <span class="category"></span>
							</br></br>DURATION: <span class="duration"></span>
						</div>
						<div class="col-xs-4 col-md-4 pastBox" id="past2">
							MACHINE: <span class="machine"></span>
							</br></br>IMPLEMENT: <span class="implement" ></span>
							</br></br>FIELD: <span class="field" ></span>
							</br></br>TASK: <span class="task"></span>
							</br></br>CATEGORY: <span class="category"></span>
							</br></br>DURATION: <span class="duration"></span>
						</div>
						<div class="col-xs-4 col-md-4 pastBox" id="past3">
							MACHINE: <span class="machine"></span>
							</br></br>IMPLEMENT: <span class="implement" ></span>
							</br></br>FIELD: <span class="field" ></span>
							</br></br>TASK: <span class="task"></span>
							</br></br>CATEGORY: <span class="category"></span>
							</br></br>DURATION: <span class="duration"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div><a href="{% url 'schedule' %}"><input type="button" id="btnSchedulePast" /></a></div>
						</div>
					</div>
				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>
</html>
