<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>

			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");
				getUserInformation("{{ csrf_token }}", "{% url 'driverInfo' %}");
			});

			function getProfileImage(token, url){
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token},
				async: true,
				datatype : "json",
				success : function(data, status, xhr) {
					//console.log(data.imageUrl);
					$("#userImg").css("background", "url({% static 'media/' %}" + data.imageUrl + ")");
					$("#userImg").css("background-size", "100% 100%");
					$("#userImg").css("border-radius", "7px");
				}
			});
		}
		getProfileImage("{{ csrf_token }}", "{% url 'getImageUser' %}");

			function getUserInformation(token, url) {

					$.ajax({
						method: "POST",
						url: url,
						data: {"csrfmiddlewaretoken": token },
						datatype: "json",
						success: function(data, status, xhr){
							$("#firstName").html(data.first_name);
							$("#lastName").html(data.last_name);
							$("#userId").html(data.user_id);
							$("#qr_code").html(data.qr_code);
							$("#hire_date").html(data.hire_date);
							$("#utilization").html(data.utilization);
							$("#hours_today").html(data.hours_today);
							$("#hours_week").html(data.hours_week);
							$("#ternure").html(data.ternure);
							$("#ternure").html(data.timeRecord);
							$("#manager").html(data.manager);
							$("#language").html(data.language);
						}
					});
			}

		</script>

	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="menuLeft"></div>
			<div id="content">
				<div id="namePage" style="width: 200px">
					EMPLOYEE PROFILE
				</div>
				<div id="contentProfile">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-2"><img id="userImg"/></div>
					<div class="col-md-3 userInfo1">
						First Name: <span id="firstName"></span><br>
						Last Name: <span id="lastName"></span><br>
						Employee ID: <span id="qr_code"></span><br>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4 userInfo2">
						Hire Date: <span id="hire_date"></span><br>
						Hours Today: <span id="hours_today"></span><br>
						Hours this Week: <span id="hours_week"></span><br>
						Manager: <span id="manager"></span><br>
						Language: <span id="language"></span><br>
				</div>
				<div class="col-md-4"></div>
				</div>

				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>

</html>
