<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="//code.jquery.com/jquery.js"></script>
		<script src='{% static "fullcalendar/lib/moment.min.js" %}'></script>
		<script src='{% static "fullcalendar/fullcalendar.min.js" %}'></script>
		<link href='{% static "fullcalendar/fullcalendar.css" %}' rel='stylesheet' />
		<!-- Don't required <link href='../fullcalendar.min.css' rel='stylesheet' media='print' />-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script>
			//var source = 'cal.json'; We can use a variable in events, to fill the calendar
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");

				$('#cal').fullCalendar({
					/*events : [{
						title : 'DISK 5 passes NW',
						description : 'DISK 5 passes NW, Proin lorem sem, posuere non sapien id, tempus auctor orci. Vestibulum scelerisque a nulla in scelerisque. Etiam euismod augue non nisi rutrum, quis viverra ante porttitor. Integer convallis sem sit amet enim volutpat mollis. Fusce feugiat, est et fermentum sollicitudin, lectus purus volutpat tortor, et malesuada ligula magna ac risus. Curabitur quis eros elit. Integer ultrices turpis id luctus accumsan. Integer mattis elementum mauris, quis semper nisi congue a. Proin nec risus id nunc hendrerit varius. Integer maximus felis condimentum, condimentum dolor quis, commodo augue. Sed finibus dolor a elit pharetra, eu suscipit nulla gravida. Mauris eu tincidunt est. Nullam et auctor arcu, ut finibus nunc. ',
						field : '3242536',
						taskDuration: 2,
						url : 'startTask.html',
						start : moment().add(1, 'h'),
						end : moment().add(3, 'h'),
						color : '#BD330C',
						allDay : false
					}, {
						title : 'Event 2',
						start : moment().add(1, 'h'),
						end : moment().add(6, 'h'),
						description : 'Something Else blah blah',
						field : '3242536',
						taskDuration: 3,
						url : 'startTask.html',
						color : '#7F9B22'
					}, {
						title : 'Other Event',
						start : moment().add(8, 'h'),
						end : moment().add(10, 'h'),
						description : 'Something Else blah blah blah blah',
						field : '3242536',
						taskDuration: 2,
						url : 'startTask.html',
						color : '#F4CA02',
						allDay : false
					}],*/
					events: {
				        url: "{% url 'getEmployeeSchedulePart'%}",
				        error: function() {
				            alert('{% trans "There was an error while fetching events!" %}');
				        },
				        color: 'yellow',   // a non-ajax option
				        textColor: 'black' // a non-ajax option
				   },
					header : {
						left : '',
						center : 'prev title next',
						right : 'month,agendaWeek,agendaDay'
					},
					defaultView : 'agendaWeek',
					height : 650,
					eventClick : function(event, jsEvent, view) {
						console.log(event);
						$('#modalTitle').html(event.category);
						$('#description').html(event.description);
						$('#field').html(event.field);
						//$('#taskDuration').html(event.taskDuration);
						
						//$('#eventUrl').attr('href', );
						$('#fullCalModal').modal();
						return false;
					}
				});
			});
		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content" style="color:black">
				<div class="namePageCenter">
					{% trans 'HC Scheduler' %}
				</div>
				<div id="cal"></div>
				<div id="fullCalModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span><span class="sr-only">{% trans 'close' %}</span>

								</button>
								<h4 class="modal-title">{% trans 'TASK INFORMATION' %}</h4>

							</div>
							<div id="modalBody" class="modal-body">
								<strong>{% trans 'TASK:' %} </strong><span id="modalTitle"></span><br>
								<strong>{% trans 'DESCRIPTION:' %} </strong><span id="description"></span><br>
								<strong>{% trans 'FIELD:' %} </strong><span id="field"></span><br>
								<strong>{% trans 'MACHINE:' %} </strong><span id="machine"></span><br>
								<strong>{% trans 'IMPLEMENT:' %} </strong><span id="implement"></span><br>
								<!--TASK DURSTION:<strong><span id="taskDuration"></span> Hours</strong><br>--></br>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									{% trans 'Close' %}
								</button>
								<a id="eventUrl" target="_blank">
								<button class="btn btn-primary">
									{% trans 'Start Task' %}
								</button> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<footer id="foot"></footer>-->
	</body>
</html>