<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src=" {% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src=" {% static 'js/script.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");

				var item = {}; // Stores parameters from the url
				var checkMachine; // Check if machine is verified ok
				var checkImplement; // Check if implement is verified ok 
				var checkField; // Check if field is verified ok 
				var checkTask; // Check if field is verified ok 
				
				item = getParametersUrl();
				
				getTaskInfo("{{ csrf_token }}", "{% url 'getTaskInfo' %}", item.task_id); //Ajax

				//Hide the second implement
				$("#secondImplement").hide();
				
				//Change tabs when clicks in the buttons NEXT and RETURN
				$('.nextTab').click(function(){
					$('.nav-tabs > .active').next('li').find('a').trigger('click');
				});
				$('.prevTab').click(function(){
				  	$('.nav-tabs > .active').prev('li').find('a').trigger('click');
				});
				
			});

			function getTaskInfo(token, url, task_id) {
				$.ajax({
					method : "POST",
					url : url,
					data : {
						"csrfmiddlewaretoken" : token,
						"task_id" : task_id
					},
					datatype : "json",
					success : function(data, status, xhr) {
						//alert(data.code);
						//$(".taskRows1 #taskflowInput").val(data.machine_nickname);
						//$(".taskRows2 #taskflowInput").val(data.implement_nickname);
						$("#inputField").val(data.field);
						$("#inputDescription").val(data.description);
					}
				});
			}

		</script>
		<style>
			.inputTask{
				width: 300px;
				text-align: center;
			}
			.textCreateTask{
				margin: auto;
			}
		</style>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div class="namePageCenter">
					Start Task
				</div>
				<div id="contentCreateTask">
					
					<ul class="nav nav-tabs">
					    <li class="active"><a class="tabSucess" id="taskTab" data-toggle="tab" href="#taskTabContent">Task</a></li>
					    <li><a id="machineTab" data-toggle="tab" href="#machineTabContent">Machine</a></li>
					    <li><a id="implementTab" data-toggle="tab" href="#implementTabContent">Implement</a></li>
					    <li><a id="fieldTab" data-toggle="tab" href="#fieldTabContent">Field</a></li>
					</ul>
					
					<div class="tab-content" >
						<div id="taskTabContent" class="tab-pane fade in active">
					      
						    <div class="row" >
						    	<div class="col-xs-1 col-md-1">
								</div>
								<div class="col-xs-10 col-md-10 alignCenterPage textCreateTask">
									<input type="text" class="inputTask" id="inputDescription" placeholder="SCAN QR CODE OR ENTER A NUMBER" readonly="true"/>
								</div>
								<div class="col-xs-1 col-md-1">
								</div>
							</div>
							<div class="row">
								<br>
								<div class="col-xs-4 col-md-4">
									
								</div>
								<div class="col-xs-4 col-md-4">
									
								</div>
								<div class="col-xs-4 col-md-4">
									<a class="btn nextTab alignCenterPage" href="#">NEXT</a>
								</div>
							</div>
						  </div>	
						  
						  <div id="machineTabContent" class="tab-pane fade in">
					      <div class="row">
								<div class="col-xs-3 col-md-3 alignCenterPage textCreateTask">
									MACHINE:
								</div>
								<div class="col-xs-6 col-md-6 alignCenterPage ">
									<input type="hidden" id="machineSelectedId" />
									<input type="text" id="machineSelected" class="inputCreateTask" name="machine"/></br> 
									<input type="button" value="Scan" onClick="$('#scanQRCodeMachine').modal()" class="scanEquipment" id="scanMachine"/>
									<input type="hidden" id="machineBtn"></input>
								</div>
								<div class="col-xs-3 col-md-3">
									<img src="{% static 'img/tractor-4.png' %}" id="machineSelectedImg" class="imgCreateTask"/>
								</div>
							</div>	
					     
					     <div class="row">
								<div class="col-xs-4 col-md-4">
									<a class="btn alignCenterPage prevTab" href="#">RETURN</a>
								</div>
								<div class="col-xs-4 col-md-4">
									
								</div>
								<div class="col-xs-4 col-md-4">
									<a class="btn nextTab alignCenterPage" href="#">NEXT</a>
								</div>
							</div>
					    </div>
						  
						<div id="implementTabContent" class="tab-pane fade in">
					      
					     <div class="row">
							<div class="col-xs-3 col-md-3  alignCenterPage textCreateTask">
								IMPLEMENT:
							</div>
							<div class="col-xs-6 col-md-6  alignCenterPage ">
								<input type="hidden" id="implementSelectedId" />
								<input type="text" id="implementSelected" class="inputCreateTask"  name="implement"/>
								<input type="button" value="Scan" onClick="$('#scanQRCodeMachine').modal()" class="scanEquipment" id="scanImplement" />
								<input type="hidden" id="implementBtn"></input>
							</div>
							<div class="col-xs-3 col-md-3">
								<img src="{% static 'img/implement.png' %}" id="implementSelectedImg" class="imgCreateTask"/>
							</div>
						</div>
						
						<div class="row" id="secondImplement">
							<div class="col-xs-3 col-md-3  alignCenterPage textCreateTask">
								IMPLEMENT:
							</div>
							<div class="col-xs-6 col-md-6  alignCenterPage ">
								<input type="hidden" id="implementSelectedId2" />
								<input type="text" id="implement2Selected" class="inputCreateTask"  name="implement"/>
								<input type="button" value="Scan" onClick="$('#scanQRCode').modal()" class="scanEquipment" id="scanImplement2" />
								<input type="hidden" id="implementBtn2"></input>
							</div>
							<div class="col-xs-3 col-md-3">
								<img src="{% static 'img/implement.png' %}" id="implement2SelectedImg" class="imgCreateTask"/>
							</div>
						</div>
					     <div class="both"></div>
					     <div class="row">
								<div class="col-xs-4 col-md-4">
									<a class="btn alignCenterPage prevTab" href="#">RETURN</a>
								</div>
								<div class="col-xs-4 col-md-4">
									
								</div>
								<div class="col-xs-4 col-md-4">
									<a class="btn nextTab alignCenterPage" href="#">NEXT</a>
								</div>
							</div>
					    </div>  
						  
						<div id="fieldTabContent" class="tab-pane fade in">
					      
						    <div class="row" >
						    	<div class="col-xs-1 col-md-1">
								</div>
								<div class="col-xs-10 col-md-10 alignCenterPage textCreateTask">
									<input type="text" class="inputTask" id="inputField" placeholder="SCAN QR CODE OR ENTER A NUMBER" readonly="true"/>
								</div>
								<div class="col-xs-1 col-md-1">
								</div>
							</div>
							<div class="row">
								</br>
								<div class="col-xs-4 col-md-4">
									<a class="btn alignCenterPage prevTab" href="#">RETURN</a>
								</div>
								<div class="col-xs-4 col-md-4">
									
								</div>
								<div class="col-xs-4 col-md-4">
									<a class="btn nextTab alignCenterPage" id="start" href="#">Start</a>
								</div>
							</div>
						  </div>  
						  
						  
					</div>
					
				</div>
			</div>
			<div class="modal fade" id="scanQRCode" role="dialog">
				    <div class="modal-dialog findTractor">
				    	 <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title"><strong>Scan QRCode</strong></h4>
					        </div>
					        <div class="modal-body">
					          	<!--SCANQRCODE -->
					          	<div id="QR-Code" class="container">
							            <div class="panel panel-primary">
							                <div class="panel-heading" style="display: inline-block;width: 100%;  text-align: center; color: white; background: #1F3801;">
							                    
							                    <div style="margin auto 40px;text-align: center;">
							                    	<span style="font-size: 20px">Type:  <input type="text" id="input_qrcode" style="color:black;"/> 
							                    		<a href="#"><button data-dismiss="modal" id="submitBtnModal" title="Play" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-play"></span></button><a></a>
							                    		or Scan QR Code: </span>
							                    <select id="cameraId" class="form-control" style="display: inline-block;width: auto;"></select>
							                    <button id="play" data-toggle="tooltip" title="Play" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-play"></span></button>
							                    
							                </div>
							            </div>
							            <div class="panel-body">
							                <div class="col-md-12" style="text-align: center;">
							                	
							                    <div class="well" style="position: relative;display: inline-block;">
							                        <canvas id="qr-canvas" width="320" height="240"></canvas>
							                        <div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
							                        <div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
							                        <div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
							                        <div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
							                    </div>
							                    
							                </div>
							                
							            </div>
							            <div class="panel-footer">
							            </div>
							        </div>
							    </div>
							    <!--END SCANQRCODE -->
					        </div>
					 		<div class="clearBoth"></div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>

</html>