<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerDriver' %}");
				//getPendingTask("{{ csrf_token }}", "{% url 'driverInfo' %}");
				getPendingTask("{{ csrf_token }}", "{% url 'retrievePedingTask' %}");
			});
			
			function getPendingTask(token, url) {
				
					$.ajax({
						method: "POST",
						url: url,
						data: {"csrfmiddlewaretoken": token, "N": 1 },
						datatype: "json",
						success: function(data, status, xhr){							
							//$("#firstName").html(data.first_name);
							alert("Hey there: " + data[1].category);
						}
					});			
			}
		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div id="namePage">
					TASKFLOW
				</div>
				<div id="divTask">
					<div id="pendingTask">
						<p id="taskP">PENDING TASKS</p>
						<a href="{% url 'startTask' %}" id="last1" style="text-decoration: none;">
							<div class="lastClass">Disk 3 passes N-W - Ranch 1 Block 1.
						</div></a>
						<a href="{% url 'startTask' %}" id="last2" style="text-decoration: none;">
							<div class="lastClass">Disk 4 passes S-N - Ranch 3 Block 3.
						</div></a>
						<a href="{% url 'startTask' %}" id="last3" style="text-decoration: none;">
							<div class="lastClass">Disk 2 passes N-E - Ranch 6 Block 5.
						</div></a>
						<a href="{% url 'startTask' %}" id="last4" style="text-decoration: none;">
							<div class="lastClass">Disk 4 passes W-E - Ranch 9 Block 8.
						</div></a>
					</div>
					<div id="divCreateTask"><a href="{% url 'createTask' %}"><input type="button" id="btnCreateTask" /></a></div>
					<div id="divLastTask"><a href="{% url 'pastTasks' %}"><input type="button" id="btnLastTasks" /></a></div>
					<div id="divGoScheduler"><a href="{% url 'schedule' %}"><input type="button" id="btnGoScheduler" /></a></div>
					
				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>
	<script>
			function startNewTask()
			{			
					
					console.log("function called");
					$.ajax({
						method: "POST",
						url: "",
						dataType: "json", 
           				data: {"csrf_token": '{{csrf_token}}'},
						success: function(data, status, xhr)
						{
							if(data.success)
							{		 	
							 	if(data.authorized)
							 	{	
							 		return true;
							 	}else
							 	{
							 		alert("You do not have enough right to create a task!!");
							 		return false;
							 	}
							}
						}
					});
			}
			
			$("#btnCreateTask").click(startNewTask);
			
	</script>
</html>
