<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="{% static 'js/jquery-1.11.2.min.js'%}"></script>
		<script src="{% static 'jSignature/jSignature.min.js'%}"></script>
		<script>
		var lunch = 0;		//	0 = break ... 1 = lunch
		var employeesTimelog = [];
		var idTimelog;
		var user_id;
		var id_checked = [];
		$(document).ready(function() {
			$("#foot").load("{%url 'footer'%}");
			$("#head").load("{%url 'headerDriver'%}");
			$("#signature").jSignature()
			$("#clearSignature").click(function() {
			var $sigdiv = $("#signature");
				$sigdiv.jSignature("reset");		
			});
			getEmployeeShifts("{{ csrf_token }}", "{% url 'getEmployeeShifts' %}");
			getAllManagerEmployees("{{ csrf_token}}", "{% url 'getAllManagerEmployees' %}");
			$("input[name='employeeSelected']").change(function() {
			   if ($("input[id='"+this.id+"']").is(":checked")) {
					user_id = this.value;				   				   		
					id_checked.push(user_id);									
				} else {
				    user_id = this.value;
					index = id_checked.indexOf(user_id);
					id_checked.splice(index, 1);
				}											
			}); 
			$("#shift").click(function() {
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").html("Select the employees for this action:");
				emptyDivs();
				$("#clock-out").append('<input type="button" value="{% trans 'CLOCK-OUT' %}" class="btnsTimekeeper"/>');
				$("#clock-in").append('<input type="button" value="{% trans 'CLOCK-IN' %}" class="btnsTimekeeper"/>');
				$("#employeeList").show();
			});
			$("#clock-in").click(function() {
				if (id_checked.length == 0) {
					$("#messageTimekeeper").html("Select at least 1 employee to this action!");
				} else {
					$("#messageTimekeeper").html("Starting shift...");
					emptyDivs();
					startShiftGroup("{{ csrf_token }}", "{% url 'startShiftGroup' %}");
				}
			});
			$("#clock-out").click(function() {
				if (id_checked.length == 0) {
					$("#messageTimekeeper").html("Select at least 1 employee to this action!");
				} else {
					$("#messageTimekeeper").html("Ending shift...");
					emptyDivs();
					stopShiftGroup("{{ csrf_token }}", "{% url 'stopShiftGroup' %}");
				}
			});
			$("#break").click(function() {
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").html("Select the employees for this action");
				emptyDivs();
				$("#stopBreak").append('<input type="button" value="{% trans 'STOP BREAK' %}" class="btnsTimekeeper"/>');
				$("#startBreak").append('<input type="button" value="{% trans 'START BREAK' %}" class="btnsTimekeeper"/>');
				$("#employeeList").show();
			});
			$("#startBreak").click(function() {
				if (id_checked.length == 0) {
					$("#messageTimekeeper").html("Select at least 1 employee to this action");
				} else {
					$("#messageTimekeeper").html("Starting break...");
					emptyDivs();
					lunch = 0;
					startBreakGroup("{{ csrf_token }}", "{% url 'startBreakGroup' %}");
				}
			});
			$("#stopBreak").click(function() {
				if (id_checked.length == 0) {
					$("#messageTimekeeper").html("Select at least 1 employee to this action");
				} else {
					$("#messageTimekeeper").html("Ending break...");
					emptyDivs();
					lunch = 0;
					stopBreakGroup("{{ csrf_token }}", "{% url 'stopBreakGroup' %}");
				}
			});
			$("#lunch").click(function() {
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").html("Select the employees for this action");
				emptyDivs();
				$("#stopLunch").append('<input type="button" value="{% trans 'STOP LUNCH' %}" class="btnsTimekeeper"/>');
				$("#startLunch").append('<input type="button" value="{% trans 'START LUNCH' %}" class="btnsTimekeeper"/>');
				$("#employeeList").show();
			});
			$("#startLunch").click(function() {
				if (id_checked.length == 0) {
					$("#messageTimekeeper").html("Select at least 1 employee to this action");
				} else {
					$("#messageTimekeeper").html("Starting lunch...");
					emptyDivs();
					lunch = 1;
					startBreakGroup("{{ csrf_token }}", "{% url 'startBreakGroup' %}");
				}
			});
			$("#stopLunch").click(function() {
				if (id_checked.length == 0) {
					$("#messageTimekeeper").html("Select at least 1 employee to this action");
				} else {
					$("#messageTimekeeper").html("Ending break...");
					emptyDivs();
					lunch = 1;
					stopBreakGroup("{{ csrf_token }}", "{% url 'stopBreakGroup' %}");
				}
			});
			$("#timelog").click(function() {
				emptyDivs();
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").html("Select the employee to TIMELOG");
				timelogBtns();
			});
		});
		function getEmployeeShifts(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						if (data.hour_started != 'None') {
							shiftStarted = 1;
						}
						for(var i = 0; i < data.breaks.length; i++) {
							if (data.breaks[i][1] == "None") {
								if (data.breaks[i][2] == 1) {
									lunchStarted = 1;
								} else {
									breakStarted = 1
								}
							}
						}
						if (data.hour_ended != "None") {
							shiftStarted = 0;
						}
					} else if (data.code == 1) {
						$('#showTimekeeperModal').modal();
						$("#messageTimekeeper").html("There is no shift records for this employee.");
						hideModal();
					} else if (data.code == 2) {
						$('#showTimekeeperModal').modal();
						$("#messageTimekeeper").html("Error. Contact Suport.");
						hideModal();
					} else if (data.code == 3) {
						$('#showTimekeeperModal').modal();
						$("#messageTimekeeper").html("Error. Contact Suport.");
						hideModal();
					}
				}
			});
		}
		function startShiftGroup(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "ids": id_checked},
				datatype : "json",
				success : function(data, status, xhr) {
					$("#messageTimekeeper").html("Clock-in successful");
					hideModal();
					$("#success").append("<div><div>");
					for (var i = 0; i < employeesTimelog.length; i++){
						for (var j = 0; j < data.success.length; j++) {
							if (data.success[j].id == employeesTimelog[i].user_id) {
								console.log("suc");
							}
						}
						for (var k = 0; k < data.error.length; k++) {
							if (data.error[k].id == employeesTimelog[i].user_id) {
								console.log("error");
							}
						}
					}
				}
			});
		}
		function startBreakGroup(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				acync: false,
				data : {"csrfmiddlewaretoken" : token, "ids": id_checked, "lunch": lunch},
				datatype : "json",
				success : function(data, status, xhr) {
					if (lunch == 0) {
						$("#messageTimekeeper").html("Break started");
					}
					if (lunch == 1) {
						$("#messageTimekeeper").html("Lunch started");
					}
					hideModal();
				}
			});
		}
		function stopBreakGroup(token, url) {
			$.ajax({
				method: "POST",
				url: url,
				data: {"csrfmiddlewaretoken": token, "ids": id_checked, "lunch": lunch},
				datatype: "json",
				success: function(data, status, xhr){
					if (lunch == 0) {
						$("#messageTimekeeper").html("Break ended");
					}
					if (lunch == 1) {
						$("#messageTimekeeper").html("Lunch ended");
					}
					hideModal();
				}
			});
		}
		function stopShiftGroup(token, url) {
			$.ajax({
				method: "POST",
				url: url,
				data: {"csrfmiddlewaretoken": token, "ids": id_checked},
				datatype: "json",
				success: function(data, status, xhr){
					$("#messageTimekeeper").html("Clock-out successful");
					hideModal();
				}
			});
		}
		function timelogBtns() {
			for (var i = 0; i < employeesTimelog.length; i++) {
				$("#divTimelog").append("<br><input type='button' id='" + employeesTimelog[i].user_id + "' onclick='timelogId(this.id)' value='" + employeesTimelog[i].first_name + " " + employeesTimelog[i].last_name + "'/><br>");
			}
		}
		function timelogId(idShow) {
			emptyDivs();
			$("#messageTimekeeper").html("TIMELOG");
			console.log(idShow);
			idTimelog = idShow;
			timelog("{{ csrf_token }}", "{% url 'timeLogById' %}");
		}
		function timelog(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "id": idTimelog},
				datatype : "json",
				success : function(data, status, xhr) {
					var i = 0;
					var breaks = 1;
					var lunchs = 1;
					console.log(data);
					$("#divTimelog").append("<table id='tableTimelog' ><tr><td colspan='2'>Start Shift: " + data.Attendance_start + "</td></tr>");
					for (i = 0; i < data.breaks.length; i++) {
						if (data.breaks[i].lunch == 0){
							$("#tableTimelog").append("<tr><td id='colBorderTimelog'>" + data.breaks[i].workBreak + "</td><td>" + breaks + "º Break " + data.breaks[i].breakStart + " - " + data.breaks[i].breakStop + "</td></tr>");
							breaks++;
						} else {
							$("#tableTimelog").append("<tr><td id='colBorderTimelog'>" + data.breaks[i].workBreak + "</td><td>" + lunchs + "º Lunch " + data.breaks[i].breakStart + " - " + data.breaks[i].breakStop + "</td></tr>");
							lunchs++;
						}
					}
					$("#tableTimelog").append("<tr><td colspan='2'>End Shift: " + data.Attendance_end + "</td></tr>");
					$("#tableTimelog").append("<tr><td colspan='2'>Total: " + data.Total + " hours</td></tr>");
				}
			});
		}
		function getAllManagerEmployees(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				async : false,
				data : {
					"csrfmiddlewaretoken" : token,
				},
				datatype : "json",
				success : function(data, status, xhr) {	
					if (data.success) {
						employeesTimelog = data.employees;
						for (var i = 0; i < data.employees.length; i++) {
							$("#employeeList").append("<tr>" + "<td><label><input type='checkbox' value='" + data.employees[i].user_id
														+ "' id='checkbox" + (i+1) + "' name='employeeSelected'/></label>"
														+ "</td>" + "<td>" + data.employees[i].first_name + " " 
														+ data.employees[i].last_name + "</td>" + "</tr>");
						}
					}
				}
			});
		}
		function hideModal() {
			setTimeout(function(){
    			$('#showTimekeeperModal').modal('hide')
			}, 3000);
		}
		function emptyDivs() {
			$("#employeeList").hide();
			$("#success").empty();
			$("#error").empty();
			$("#clock-out").empty();
			$("#clock-in").empty();
			$("#stopBreak").empty();
			$("#startBreak").empty();
			$("#stopLunch").empty();
			$("#startLunch").empty();
			$("#divTimelog").empty();
		}
		</script>
		<style>
			label {
				 padding:10px;
				 margin:0 0 10px;
				 display:block; 
			}
			#employeeList{
				text-align: left;
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div class="namePage">
					<img src="{% static 'imgSmall/iconTimekeeper.png' %}"/>
					{% trans 'HC TIMEKEEPER' %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="shift" value="{% trans 'SHIFT' %}" class="btnsTimekeeper"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="break" value="{% trans 'BREAK' %}" class="btnsTimekeeper"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="lunch" value="{% trans 'LUNCH' %}" class="btnsTimekeeper"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="timelog" value="{% trans 'TIMELOG' %}" class="btnsTimekeeper"/>
					</div>
				</div>
			</div>
		</div>
		<footer>
			&copy;2015 Heavy Connect, Inc.
		</footer>
		<div id="clearBoth"></div>
		<!-- MODAL OF ALERT - TIMEKEEPER -->
		<div class="modal fade" id="showTimekeeperModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content modalTimekeeper">
					<div class="modal-body">
						<button type="button" class="closeEquip" data-dismiss="modal"></button>
						<span id="messageTimekeeper"></span>
						<div id="employeeList"></div>
						<div id="success"></div>
						<div id="error"></div>
						<div id="clock-out"></div>
						<div id="clock-in"></div>
						<div id="stopBreak"></div>
						<div id="startBreak"></div>
						<div id="stopLunch"></div>
						<div id="startLunch"></div>
						<div id="divTimelog"></div>
						<br>
						<div class="both"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="clearBoth"></div>
		<!-- MODAL SIGNATURE - TIMEKEEPER -->
		<div class="modal fade" id="signModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content signModalDialog">
					<button type="button" class="closeSignature" data-dismiss="modal"></button>
					<div class="modal-title" id="titleSign">{% trans 'Sign Here' %}</div>
					<div class="modal-body" id="signatureContent">

					<div id="signField" style="margin-top: 100px;">
						<div id="signature"></div>
						<button type="button" id="clearSignature" class="btn btn-default">{% trans 'Limpiar' %}</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
						<a href="">
							<button type="button" id="stopShiftConfirm" class="btn btn-success">
								{% trans 'Confirmar' %}
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>