<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="{% static 'js/jquery-1.11.2.min.js'%}"></script>
		<script src="{% static 'jSignature/jSignature.min.js'%}"></script>
		<script>
		var action = -1;	//1 = start shift ... 2 = stop shift ... 3 = start break ... 4 = stop break ... 5 = timelog
		var lunch = 0;		//	0 = break ... 1 = lunch
		var employeesTimelog = [];
		var idTimelog;
		var user_id;
		var id_checked = [];
		var id_scanned = []; // Reiniatilize this array when create a new group
		var name_scanned = [];
		var teamChecked = -1;
		var arrayNames = [];
		var arrayTeams = [];
		var idGroup = 0;
		var arrayErrors = [];

		$(document).ready(function() {
			$("#foot").load("{%url 'footer'%}");
			$("#head").load("{%url 'headerDriver'%}");
			$("#signature").jSignature();
			$("#saveSignature").click(function(){
				var $sigdiv = $("#signature");
				var datapair = $sigdiv.jSignature("getData","base30");
				var attendanceId = $("#attendanceId").val();
				saveSignature("{{ csrf_token }}", "{% url 'saveSignature' %}", datapair[1], attendanceId);
			});
			$("#clearSignature").click(function() {
				var $sigdiv = $("#signature");
				$sigdiv.jSignature("reset");
			});
			getEmployeeShifts("{{ csrf_token }}", "{% url 'getEmployeeShifts' %}");
			getAllManagerEmployees("{{ csrf_token}}", "{% url 'getAllManagerEmployees' %}");
			retrieveGroup("{{ csrf_token }}", "{% url 'retrieveGroup' %}");

			$("input[name='employeeSelected']").change(function() {
			   if ($("input[id='"+this.id+"']").is(":checked")) {
					user_id = this.value;
					id_checked.push(user_id);
				} else {
				    user_id = this.value;
					index = id_checked.indexOf(user_id);
					id_checked.splice(index, 1);
				}
			});
		    $('#selectAllEmployee').click(function(event) {
		        if(this.checked) { // check select status
		            $('.checkboxEmployee').each(function() {
		            	if (this.checked != true) {
			                this.checked = true;
			                user_id = this.value;
							id_checked.push(user_id);
						}
		            });
		        }else{
		            $('.checkboxEmployee').each(function() {
		                this.checked = false; //deselect all checkboxes
		                user_id = this.value;
						index = id_checked.indexOf(user_id);
						id_checked.splice(index, 1);
		            });
		        }
		    });
		    $('html').on('click', function(e) {
		    	if (e.target.className == "errorIcon") {
		    		//show popover
		    	} else {
		    		if (typeof $(e.target).data('original-title') == 'undefined' && !$(e.target).parents().is('.popover.in')) {
    					$('[data-original-title]').popover('hide');
  					}
  				}
			});
			$("#shift").click(function() {
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Select the team for this action:");
				emptyDivs();
				$("#clock-in").append('<input type="button" value="{% trans 'CLOCK-IN' %}" class="btnsTimekeeper"/>');
				$("#clock-out").append('<input type="button" value="{% trans 'CLOCK-OUT' %}" class="btnsTimekeeper"/>');
				$("#teamsList").show();
			});
			$("#clock-in").click(function() {
				teamChecked = $('input[name=teamRadio]:checked').val();
				if (teamChecked == -1 || teamChecked == undefined) {
					$("#messageTimekeeper").css("color", "#BB330C");	//red
					$("#messageTimekeeper").html("Select 1 Team to this action:");
				} else {
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Starting Team shift...");
					emptyDivs();
					action = 1;
					retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", teamChecked);
				}
			});
			$("#clock-out").click(function() {
				teamChecked = $('input[name=teamRadio]:checked').val();
				if (teamChecked == -1 || teamChecked == undefined) {
					$("#messageTimekeeper").css("color", "#BB330C");	//red
					$("#messageTimekeeper").html("Select 1 Team to this action:");
				} else {
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Stopping Team shift...");
					emptyDivs();
					action = 2;
					retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", teamChecked);
				}
			});
			$("#break").click(function() {
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Select the Team for this action:");
				emptyDivs();
				$("#startBreak").append('<input type="button" value="{% trans 'START BREAK' %}" class="btnsTimekeeper"/>');
				$("#stopBreak").append('<input type="button" value="{% trans 'STOP BREAK' %}" class="btnsTimekeeper"/>');
				$("#teamsList").show();
			});
			$("#startBreak").click(function() {
				teamChecked = $('input[name=teamRadio]:checked').val();
				if (teamChecked == -1 || teamChecked == undefined) {
					$("#messageTimekeeper").css("color", "#BB330C");	//red
					$("#messageTimekeeper").html("Select 1 Team to this action:");
				} else {
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Starting Team break...");
					emptyDivs();
					action = 3;
					lunch = 0;
					retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", teamChecked);
				}
			});
			$("#stopBreak").click(function() {
				teamChecked = $('input[name=teamRadio]:checked').val();
				if (teamChecked == -1 || teamChecked == undefined) {
					$("#messageTimekeeper").css("color", "#BB330C");	//red
					$("#messageTimekeeper").html("Select 1 Team to this action:");
				} else {
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Stopping Team break...");
					emptyDivs();
					action = 4;
					lunch = 0;
					retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", teamChecked);
				}
			});
			$("#lunch").click(function() {
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Select the employees for this action");
				emptyDivs();
				$("#startLunch").append('<input type="button" value="{% trans 'START LUNCH' %}" class="btnsTimekeeper"/>');
				$("#stopLunch").append('<input type="button" value="{% trans 'STOP LUNCH' %}" class="btnsTimekeeper"/>');
				$("#teamsList").show();
			});
			$("#startLunch").click(function() {
				teamChecked = $('input[name=teamRadio]:checked').val();
				if (teamChecked == -1 || teamChecked == undefined) {
					$("#messageTimekeeper").css("color", "#BB330C");	//red
					$("#messageTimekeeper").html("Select 1 Team to this action:");
				} else {
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Starting Team lunch...");
					emptyDivs();
					action = 3;
					lunch = 1;
					retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", teamChecked);
				}
			});
			$("#stopLunch").click(function() {
				teamChecked = $('input[name=teamRadio]:checked').val();
				if (teamChecked == -1 || teamChecked == undefined) {
					$("#messageTimekeeper").css("color", "#BB330C");	//red
					$("#messageTimekeeper").html("Select 1 Team to this action:");
				} else {
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Stopping Team lunch...");
					emptyDivs();
					action = 4;
					lunch = 1;
					retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", teamChecked);
				}
			});
			$("#timelog").click(function() {
				emptyDivs();
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Select the Team to TIMELOG:");
				teamsBtns();
			});
			$("#timelogBack1").click(function() {
				emptyDivs();
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Select the Team to TIMELOG:");
				teamsBtns();
			});
			$("#timelogBack2").click(function() {
				emptyDivs();
				$('#showTimekeeperModal').modal();
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Select the Employee to TIMELOG:");
				callTeam(idGroup);
			});
			$("#btnSignature").click(function(){
				$("#messageTimekeeper").css("color", "#1F3801");	//green
				$("#messageTimekeeper").html("Checking shift...");
				callChecklist("{{ csrf_token }}", "{% url 'retrieveAttendanceChecklist' %}", idTimelog);
			});
			$("#createTeam").click(function(){
    			emptyDivs();
    			$('#showTimekeeperModal').modal();
    			$("#messageTimekeeper").css("color", "#1F3801");	//green
    			$("#messageTimekeeper").html("Create New Team");
    			$("#team").append('<table id="tableCreateTeam"><tr><td><input type="text" id="nameTeam" placeholder="{% trans 'Team Name...' %}"/></td></tr>'
    							+ '<tr><td><label>Save Team?&nbsp;&nbsp;<input type="checkbox" id="saveTeam"/></label></td></tr>'
    							+ '<tr><td><input type="button" id="scanNow" onclick="openAdd()" value="{% trans 'Add Employees' %}" class="btnsTimekeeper"/></td></tr>'
    							+ '<tr><td><div id="addingList"></div></tr></td>'
    							+ '<tr><td><input type="button" id="addNow" onclick="createNow(id_scanned)" value="Create Now"></td></tr></table>');
			});
		});
		function openAdd() {
			$('#qrCodeModal').modal();
		}
		function createNow(arrayIds) {
			var nameTeam = $("#nameTeam").val();
			if ($('#saveTeam').is(":checked")) {
  				var permanent = 1;
			} else {
				var permanent = 0;
			}
			emptyDivs();
			$("#messageTimekeeper").html("Creating team...");
			createGroup("{{ csrf_token }}", "{% url 'createGroup' %}", nameTeam, arrayIds, permanent);
		}
		function createGroup(token, url, nameTeam, arrayIds, permanent){
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "name": nameTeam, "qr_code": arrayIds, "permanent": permanent},
				datatype : "json",
				success : function(data, status, xhr) {
					emptyDivs();
					$("#messageTimekeeper").css("color", "#1F3801");	//green
					$("#messageTimekeeper").html("Team Created!");
					retrieveGroup("{{ csrf_token }}", "{% url 'retrieveGroup' %}");
				}
			});
		}
		function getEmployeeShifts(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						if (data.hour_started != 'None') {
							shiftStarted = 1;
						}
						for(var i = 0; i < data.breaks.length; i++) {
							if (data.breaks[i][1] == "None") {
								if (data.breaks[i][2] == 1) {
									lunchStarted = 1;
								} else {
									breakStarted = 1
								}
							}
						}
						if (data.hour_ended != "None") {
							shiftStarted = 0;
						}
					} else if (data.code == 1) {
						$('#showTimekeeperModal').modal();
						$("#messageTimekeeper").css("color", "#BB330C");	//red
						$("#messageTimekeeper").html("There is no shift records for this employee.");
						//hideModal();
					} else if (data.code == 2) {
						$('#showTimekeeperModal').modal();
						$("#messageTimekeeper").css("color", "#BB330C");	//red
						$("#messageTimekeeper").html("Error. Contact Suport.");
						//hideModal();
					} else if (data.code == 3) {
						$('#showTimekeeperModal').modal();
						$("#messageTimekeeper").css("color", "#BB330C");	//red
						$("#messageTimekeeper").html("Error. Contact Suport.");
						//hideModal();
					}
				}
			});
		}
		function retrieveGroup(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token,},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						//arrayTeams = [];
						arrayTeams = data.group;
						$("#teamsList").css("text-align", "left");
						$("#teamsList").html('');
						for (var i = 0; i < data.group.length; i++) {
							$("#teamsList").append('<input type="radio" name="teamRadio" value="' + data.group[i].id + '"/>  ' + data.group[i].Name + '<br>');
						}
					}
				}
			});
		}
		function retrieveParticipant(token, url, group) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "group" : group},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						id_checked = [];
						arrayNames = [];
						for (var i = 0; i < data.participant.length; i++) {
							id_checked[i] = data.participant[i].id;
							arrayNames[i] = data.participant[i].name;
						}
						if (action == 1) {
							startShiftGroup("{{ csrf_token }}", "{% url 'startShiftGroup' %}");
						}
						if (action == 2) {
							stopShiftGroup("{{ csrf_token }}", "{% url 'stopShiftGroup' %}");
						}
						if (action == 3) {
							startBreakGroup("{{ csrf_token }}", "{% url 'startBreakGroup' %}");
						}
						if (action == 4) {
							stopBreakGroup("{{ csrf_token }}", "{% url 'stopBreakGroup' %}");
						}
						if (action == 5) {
							$("#timelogBack1").show();
							$("#messageTimekeeper").html("Select the Employee to TIMELOG:");
							for (var j = 0; j < data.participant.length; j++) {
								$("#divTimelog").append("<br><input type='button' id='" + id_checked[j] + "' onclick='timelogId(this.id)' value='" + arrayNames[j] + "'/><br>");
							}
						}
						action = -1;
					}
				}
			});
		}
		function startShiftGroup(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "ids": id_checked},
				datatype : "json",
				success : function(data, status, xhr) {
					arrayErrors = [];
					arrayErrors[1] = 'You need to finish the current shift before create a new one.';
					arrayErrors[2] = 'There is no users associated with this id.';
					arrayErrors[5] = 'Error. Contact Suport.';
					arrayErrors[6] = 'Error. Contact Suport.';
					printResult(data);
					if (data.success) {
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						$("#messageTimekeeper").html("Clock-in:");
					}
				}
			});
		}
		function startBreakGroup(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				acync: false,
				data : {"csrfmiddlewaretoken" : token, "ids": id_checked, "lunch": lunch},
				datatype : "json",
				success : function(data, status, xhr) {
					arrayErrors = [];
					arrayErrors[1] = 'You cannot start two breaks at the same time.';
					arrayErrors[2] = 'The shift for today was already finished.';
					arrayErrors[3] = 'You need to start a shift first.';
					arrayErrors[5] = 'Error. Contact Suport.';
					arrayErrors[6] = 'Error. Contact Suport.';
					printResult(data);
					if (data.success) {
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						if (lunch == 0) {
							$("#messageTimekeeper").html("Break Started:");
						}
						if (lunch == 1) {
							$("#messageTimekeeper").html("Lunch Started:");
						}
					}
				}
			});
		}
		function stopBreakGroup(token, url) {
			$.ajax({
				method: "POST",
				url: url,
				data: {"csrfmiddlewaretoken": token, "ids": id_checked, "lunch": lunch},
				datatype: "json",
				success: function(data, status, xhr){
					arrayErrors = [];
					arrayErrors[1] = 'You need to start a break first.';
					arrayErrors[2] = 'The shift for today was already finished.';
					arrayErrors[3] = 'You need to start a shift first.';
					arrayErrors[5] = 'Error. Contact Suport.';
					arrayErrors[6] = 'Error. Contact Suport.';
					printResult(data);
					if (data.success) {
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						if (lunch == 0) {
							$("#messageTimekeeper").html("Break Ended:");
						}
						if (lunch == 1) {
							$("#messageTimekeeper").html("Lunch Ended:");
						}
					}
				}
			});
		}
		function stopShiftGroup(token, url) {
			$.ajax({
				method: "POST",
				url: url,
				data: {"csrfmiddlewaretoken": token, "ids": id_checked},
				datatype: "json",
				success: function(data, status, xhr){
					arrayErrors = [];
					arrayErrors[2] = 'The shift for today was already finished.';
					arrayErrors[3] = 'You have not started a shift yet.';
					arrayErrors[4] = 'This user is not authorized to use the system.';
					arrayErrors[5] = 'Error. Contact Suport.';
					arrayErrors[6] = 'Error. Contact Suport.';
					printResult(data);
					if (data.success) {
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						$("#messageTimekeeper").html("Clock-out:");
					}
				}
			});
		}
		function callChecklist(token, url, user_id) {
			$.ajax({
				method: "POST",
				url: url,
				data: {"csrfmiddlewaretoken": token, "id": user_id},
				datatype: "json",
				success: function(data, status, xhr){
					if (data.success) {
						var attendanceId = $("#attendanceId").val();
						emptyDivs();
						$("#btnSignature").append("<input type='hidden' id='attendanceId' value='" + attendanceId + "'>");
    					$("#messageTimekeeper").css("color", "#1F3801");	//green
    					$("#messageTimekeeper").html("Check before sign:");
    					$("#questions").css("text-align", "left");
    					$("#questions").css("font-size", "20px");
    					$("#questions").append("<table>");
    					for (i = 0; i < data.checklist.length; i++) {
    						$("#questions").append("<tr><td><label><input type='checkbox' onClick='allChecked(" + data.checklist.length + ")' class='checkQuestions'/>&nbsp;&nbsp;" + data.checklist[i].description + "</label></td></td>");
    					}
    					$("#questions").append("</table>");
    					$("#divSignNow").append("<input type='button' id='btnSignNow' onClick='callBtnSign()' value='SIGN NOW'/>");
    					$("#btnSignNow").attr("disabled", true);
					}
				}
			});
		}
		function allChecked(questionsN) {
			var countQuestions = $('input:checkbox[class=checkQuestions]:checked');
			if (questionsN == countQuestions.length) {
				 $("#btnSignNow").attr("disabled", false);
			} else {
				$("#btnSignNow").attr("disabled", true);
			}
		}
		function callBtnSign() {
			$('#showTimekeeperModal').modal('hide');
			$('#signModal').modal();
		}
		function saveSignature(token, url, signature, attendanceId){
			console.log(signature + " - " + attendanceId);
			$.ajax({
				method : "POST",
				url : url,
				async: false,
				data : {"csrfmiddlewaretoken" : token, "id": attendanceId, "signature": signature},
				datatype : "json",
				success : function(data, status, xhr) {
					//if (data.success) {
						alert("Sucess");
						var $sigdiv = $("#signature");
						$sigdiv.jSignature("reset");
						$('#signModal').modal('hide');
					//}
				}
			});
		}
		function teamsBtns() {
			for (var i = 0; i < arrayTeams.length; i++) {
				$("#divTimelog").append("<br><input type='button' id='" + arrayTeams[i].id + "' onclick='callTeam(this.id)' value='" + arrayTeams[i].Name + "'/><br>");
			}
		}
		function callTeam(groupId) {
			idGroup = groupId;
			emptyDivs();
			action = 5;
			retrieveParticipant("{{ csrf_token }}", "{% url 'retrieveParticipant' %}", groupId);
		}
		function timelogId(idShow) {
			emptyDivs();
			$("#timelogBack2").show();
			$("#messageTimekeeper").css("color", "#1F3801");	//green
			$("#messageTimekeeper").html("TIMELOG");
			idTimelog = idShow;
			timelog("{{ csrf_token }}", "{% url 'timeLogById' %}");
		}
		function timelog(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "id": idTimelog},
				datatype : "json",
				success : function(data, status, xhr) {
					//if (data.success) {
						var i = 0;
						var breaks = 1;
						var lunchs = 1;
						workBreak = [];
						breakN = [];
						breakBeg = [];
						breakEnd = [];
						lun = [];
						currentStart = data.Attendance_start;
						currentEnd = data.Attendance_end;
						if (data.Attendance_end == 'Happening') {
							$("#divTimelog").append("<table id='tableTimelog' ><tr id='trStartShift'><td colspan='2'>Start Shift: " + data.Attendance_start + "</td></tr>");
							for (i = 0; i < data.breaks.length; i++) {
								workBreak[data.breaks[i].breakId] = data.breaks[i].workBreak;
								breakN[data.breaks[i].breakId] = breaks;
								breakBeg[data.breaks[i].breakId] = data.breaks[i].breakStart;
								breakEnd[data.breaks[i].breakId] = data.breaks[i].breakStop;
								if (data.breaks[i].lunch == 0){
									lun[data.breaks[i].breakId] = 0
									$("#tableTimelog").append("<tr id='" + data.breaks[i].breakId + "'><td class='colBorderTimelog'>" + data.breaks[i].workBreak + "</td><td>" + breaks + "º Break " + data.breaks[i].breakStart + " - " + data.breaks[i].breakStop + "</td></tr>");
									breaks++;
								} else {
									lun[data.breaks[i].breakId] = 1;
									$("#tableTimelog").append("<tr id='" + data.breaks[i].breakId + "'><td class='colBorderTimelog'>" + data.breaks[i].workBreak + "</td><td>" + lunchs + "º Lunch " + data.breaks[i].breakStart + " - " + data.breaks[i].breakStop + "</td></tr>");
									lunchs++;
								}
							}
							$("#tableTimelog").append("<tr id='trStopShift'><td colspan='2'>End Shift: " + data.Attendance_end + "</td></tr>");
						} else {
							$("#divTimelog").append("<table id='tableTimelog' ><tr id='trStartShift'><td colspan='2'>Start Shift: " + data.Attendance_start + "</td><td><input id='" + data.attendanceId + "' type='button' class='editIcon' onclick='editStartShift(this.id, currentStart)'/></td></tr>");
							for (i = 0; i < data.breaks.length; i++) {
								workBreak[data.breaks[i].breakId] = data.breaks[i].workBreak;
								breakN[data.breaks[i].breakId] = breaks;
								breakBeg[data.breaks[i].breakId] = data.breaks[i].breakStart;
								breakEnd[data.breaks[i].breakId] = data.breaks[i].breakStop;
								if (data.breaks[i].lunch == 0){
									lun[data.breaks[i].breakId] = 0
									$("#tableTimelog").append("<tr id='" + data.breaks[i].breakId + "'><td class='colBorderTimelog'>" + data.breaks[i].workBreak + "</td><td>" + breaks + "º Break " + data.breaks[i].breakStart + " - " + data.breaks[i].breakStop + "</td><td><input id='" + data.breaks[i].breakId + "' type='button' class='editIcon' onclick='editBreak(this.id, workBreak[this.id], breakN[this.id], breakBeg[this.id], breakEnd[this.id], lun[this.id])'/></td></tr>");
									breaks++;
								} else {
									lun[data.breaks[i].breakId] = 1;
									$("#tableTimelog").append("<tr id='" + data.breaks[i].breakId + "'><td class='colBorderTimelog'>" + data.breaks[i].workBreak + "</td><td>" + lunchs + "º Lunch " + data.breaks[i].breakStart + " - " + data.breaks[i].breakStop + "</td><td><input id='" + data.breaks[i].breakId + "' type='button' class='editIcon' onclick='editBreak(this.id, workBreak[this.id], breakN[this.id], breakBeg[this.id], breakEnd[this.id], lun[this.id])'/></td></tr>");
									lunchs++;
								}
							}
							$("#tableTimelog").append("<tr id='trStopShift'><td colspan='2'>End Shift: " + data.Attendance_end + "</td><td><input id='" + data.attendanceId + "' type='button' class='editIcon' onclick='editStopShift(this.id, currentEnd)'/></td></tr>");
							$("#btnSignature").append("<input type='hidden' id='attendanceId' value='" + data.attendanceId + "'>");
							if (data.signature == true) {
								$("#btnSignature").append("<input type='button' id='btnSign' value='SIGNED'/>");
								$("#btnSign").css("background", "#799520");
							} else {
								$("#btnSignature").append("<input type='button' id='btnSign' value='SIGN'/>");
								$("#btnSign").css("background", "#E5E5E5");
							}
						}
						$("#tableTimelog").append("<tr><td colspan='2'>Total: " + data.Total + " hours</td></tr>");
					//}
				}
			});
		}
		function getAllManagerEmployees(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				async : false,
				data : {
					"csrfmiddlewaretoken" : token,
				},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						//$("#content").append("<img src='{% static 'media/' %}" + data.employees[0].photo + " '/>");
						employeesTimelog = data.employees;
						$("#employeeList").html("<tr>"
													+"<td><label><input id='selectAllEmployee' type='checkbox'/><label></td>"
													+"<td>Select All</td>"
												+"</tr>");
						for (var i = 0; i < data.employees.length; i++) {
							$("#employeeList").append("<tr>"
														+ "<td><label><input class='checkboxEmployee' type='checkbox' value='" + data.employees[i].user_id
														+ "' id='checkbox" + (i+1) + "' name='employeeSelected'/></label>"
														+ "</td>"
														+ "<td>" + data.employees[i].first_name + " "
														+ data.employees[i].last_name
														+ "</td>" +
													  "</tr>");
						}
					}
				}
			});
		}
		function printResult(data) {
			if (data.success.length) {
				$("#success").css("color", "#1F3801");	//green
				$("#success").append("SUCCESS");
			}
			if (data.error.length) {
				$("#error").css("color", "#BB330C");	//red
				$("#error").append("ERROR");
			}
			var totalTeam = data.success.length + data.error.length;
			for (var i = 0; i < totalTeam; i++){
				for (var j = 0; j < data.success.length; j++) {
					if (data.success[j].id == id_checked[i]) {
						$("#success").append("<br>" + arrayNames[i]);
					}
				}
				for (var k = 0; k < data.error.length; k++) {
					if (data.error[k].id == id_checked[i]) {
						$("#error").append("<br>" + arrayNames[i] + " <a href='#' id='pop" + k + "' class='popError' data-toggle='popover' data-content='" + arrayErrors[data.error[k].code] + "' data-placement='right'><input type='button' onclick='popoverError(this.id)' id='pop" + k + "' class='errorIcon'/></a>");
					}
				}
			}
		}
		function popoverError(popId) {
			$('#' + popId).popover();
		}

		function hideModal() {
			setTimeout(function(){
    			$('#showTimekeeperModal').modal('hide')
			}, 3000);
		}
		function emptyDivs() {
			$("#employeeList").hide();
			$("#teamsList").hide();
			$("#success").empty();
			$("#error").empty();
			$("#team").empty();
			$("#clock-in").empty();
			$("#clock-out").empty();
			$("#stopBreak").empty();
			$("#startBreak").empty();
			$("#stopLunch").empty();
			$("#startLunch").empty();
			$("#divTimelog").empty();
			$("#timelogBack1").hide();
			$("#timelogBack2").hide();
			$("#questions").empty();
			$("#btnSignature").empty();
			$("#divSignNow").empty();
			$("#btnSignNow").empty();
		}
		function editStartShift(editId, currentStart) {
			$(".editIcon").attr('disabled', true);
			shift_id = editId;
			$("#trStartShift").html("<td colspan='2'>Start Shift: <input id='newTime' type='time'/></td><td><input type='button' class='editedIcon' onclick='callEditStartShift(shift_id)'/></td>");
			$("#newTime").val(currentStart);
		}
		function callEditStartShift(shift_id) {
			var new_time = $("#newTime").val();
			updateStartShift("{{ csrf_token }}", "{% url 'updateStartShift' %}", shift_id, new_time);
		}
		function updateStartShift(token, url, shift_id, new_time) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "shift_id": shift_id, "new_time": new_time},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						$(".editIcon").attr('disabled', false);
						emptyDivs();
						$("#timelogBack2").show();
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						$("#messageTimekeeper").html("TIMELOG");
						timelog("{{ csrf_token }}", "{% url 'timeLogById' %}");
					}
				}
			});
		}
		function editBreak(editId, workBreak, breakN, breakBeg, breakEnd, lun) {
			$(".editIcon").attr('disabled', true);
			breakId = editId;
			if (lun == 0) {
				$("#" + breakId).html("<td class='colBorderTimelog'>" + workBreak + "</td><td>" + breakN + "º Break <input id='newBreakBeg" + breakId + "' type='time'/> - <input id='newBreakEnd" + breakId + "' type='time'/></td><td><input type='button' class='editedIcon' onclick='callEditBreak(breakId)'/></td>");
				$("#newBreakBeg" + breakId).val(breakBeg);
				$("#newBreakEnd" + breakId).val(breakEnd);
			}
			if (lun == 1) {
				$("#" + breakId).html("<td class='colBorderTimelog'>" + workBreak + "</td><td>" + breakN + "º Lunch <input id='newBreakBeg" + breakId + "' type='time'/> - <input id='newBreakEnd" + breakId + "' type='time'/></td><td><input type='button' class='editedIcon' onclick='callEditBreak(breakId)'/></td>");
				$("#newBreakBeg" + breakId).val(breakBeg);
				$("#newBreakEnd" + breakId).val(breakEnd);
			}
		}
		function callEditBreak(break_id) {
			var new_time_start = $("#newBreakBeg" + break_id).val();
			var new_time_end = $("#newBreakEnd" + break_id).val();
			updateBreak("{{ csrf_token }}", "{% url 'updateBreak' %}", break_id, new_time_start, new_time_end);
		}
		function updateBreak(token, url, break_id, new_time_start, new_time_end) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "break_id": break_id, "new_time_start": new_time_start, "new_time_end": new_time_end},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						$(".editIcon").attr('disabled', false);
						emptyDivs();
						$("#timelogBack2").show();
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						$("#messageTimekeeper").html("TIMELOG");
						timelog("{{ csrf_token }}", "{% url 'timeLogById' %}");
					}
				}
			});
		}
		function editStopShift(editId, currentEnd) {
			$(".editIcon").attr('disabled', true);
			shift_id = editId;
			$("#trStopShift").html("<td colspan='2'>End Shift: <input id='newTimeEnd' type='time'/></td><td><input type='button' class='editedIcon' onclick='callEditStopShift(shift_id)'/></td>");
			$("#newTimeEnd").val(currentEnd);
		}
		function callEditStopShift(shift_id) {
			var new_time = $("#newTimeEnd").val();
			updateStopShift("{{ csrf_token }}", "{% url 'updateStopShift' %}", shift_id, new_time);
		}
		function updateStopShift(token, url, shift_id, new_time) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "shift_id": shift_id, "new_time": new_time},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						$(".editIcon").attr('disabled', false);
						emptyDivs();
						$("#timelogBack2").show();
						$("#messageTimekeeper").css("color", "#1F3801");	//green
						$("#messageTimekeeper").html("TIMELOG");
						timelog("{{ csrf_token }}", "{% url 'timeLogById' %}");
					}
				}
			});
		}
		function addEmployeeGroup(keeppingAdd) {
			if (keeppingAdd == false) {
				$("#addEmployee").modal("hide");
				$("#qrCodeModal").modal("hide");
			} else {
				$("#qrCodeModal").modal();
				$("#addEmployee").modal("hide");
			}
		}
		function checkEmployeeScanned(token, url, id) {
			if (checkQrCode(id)){
				$.ajax({
					method : "GET",
					url : url,
					//async: false,
					data : {
						"csrfmiddlewaretoken" : token,
						"qr_code" : id
					}, // id could be qrCode or employeeId
					datatype : "json",
					success : function(data, status, xhr) {
						$("#errorQrCode").html("")
						var data_scanned = {};
						if (data.success) {
							$("#qrCodeModal").modal("hide");
							feedBackQrCode("show", "green", "{% trans 'Employee added to the group!' %}");
							data_scanned.qr_code = id;
							data_scanned.employee = data.employee
							id_scanned.push(data_scanned);
							$("#addingList").empty();
							var addingHtml = '<select><option> -- Employees Added -- </option>';
							for (i = 0; i < id_scanned.length; i++) {
								addingHtml += '<option disabled>' + id_scanned[i].employee + '</option>';
    						}
    						addingHtml += '</select>';
    						$("#addingList").append(addingHtml);
						} else {
							feedBackQrCode("show", "red", "{% trans 'This employee does not exist!' %}");
						}
					}
				});
			}else{
				feedBackQrCode("show", "red", "{% trans 'Employee already added to the group!' %}");
			}
		}
		function checkQrCode(qr_code){
			for (var i = 0; i < id_scanned.length; i++) {
				if (qr_code == id_scanned[i].qr_code) {
					return false;
				}
			}
			return true;
		}
		function feedBackQrCode(modal, color, message){
			$("#addEmployee").modal(modal);
			$("#errorQrCode").css("color", color)
			$("#errorQrCode").html(message)
			$("#qr_code").val(""); // Clean input text #qr_code
		}
		</script>
		<style>
			label {
				 padding: 10px;
				 margin: 0px;
				 display: block;
			}
			#tableMessage {
				margin: auto;
				width: 90%;
				padding: 10px;
				text-align: center;
			}
			#tableMessage tr, #tableMessage td {
				margin: auto;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<header id="head"></header>
		<input type="hidden" value="1" id="url">
		<div id="wrapper">			
			<div id="content">
				<div class="namePage">
					<img src="{% static 'imgSmall/iconTimekeeper.png' %}"/>
					{% trans 'HC TIMEKEEPER' %}
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="createTeam" value="{% trans 'CREATE TEAM' %}" class="btnCreateTeam"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="shift" value="{% trans 'SHIFT' %}" class="btnsTimekeeper"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="break" value="{% trans 'BREAK' %}" class="btnsTimekeeper"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="lunch" value="{% trans 'LUNCH' %}" class="btnsTimekeeper"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<input type="button" id="timelog" value="{% trans 'TIMELOG' %}" class="btnsTimekeeper"/>
					</div>
				</div>
			</div>
		</div>
		<footer>
			&copy;2015 Heavy Connect, Inc.
		</footer>

		<div id="clearBoth"></div>
		<!-- MODAL SIGNATURE - TIMEKEEPER -->
		<div class="modal fade" id="signModal" role="dialog">
			<div>
				<!-- Modal content-->
				<div class="modal-content signModalDialog">
					<button type="button" class="closeSignature" data-dismiss="modal"></button>
					<div class="modal-title" id="titleSign">{% trans 'Sign Here' %}</div>
					<div class="modal-body" id="signatureContent">
					<div id="signField" style="margin-top: 100px;">
						<div id="signature"></div>
						<button type="button" id="clearSignature" class="btn btn-default">{% trans 'Clear' %}</button>
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>-->

							<button type="button" id="saveSignature" class="btn btn-success" >
								{% trans 'Confirm' %}
							</button>

					</div>
					<div id="clearBoth"></div>
				</div>
			</div>
		</div>
	  </div>

		<div id="clearBoth"></div>
		<!-- MODAL OF ALERT - TIMEKEEPER -->
		<div class="modal fade" id="showTimekeeperModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content modalTimekeeper">
					<div class="modal-body">
						<button type="button" id="timelogBack1"></button>
						<button type="button" id="timelogBack2"></button>
						<button type="button" class="closeTimekeeper" data-dismiss="modal"></button>
						<span id="messageTimekeeper"></span>
						<div id="employeeList"></div>
						<div id="teamsList"></div>
						<table id="tableMessage">
							<tr>
								<td><div id="success"></div></td>
								<td><div id="error"></div></td>
							</tr>
						</table>
						<div id="team"></div>
						<div id="clock-in"></div>
						<div id="clock-out"></div>
						<div id="startBreak"></div>
						<div id="stopBreak"></div>
						<div id="startLunch"></div>
						<div id="stopLunch"></div>
						<div id="divTimelog"></div>
						<div id="questions"></div>
						<div id="btnSignature"></div>
						<div id="divSignNow"></div>
						<br>
						<div class="both"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="qrCodeModal" role="dialog">
			<div>
				<!-- Modal content-->
				<div class="modal-content qrCodeModalDialog">
					<div class="modal-body" id="QrCodeContent">
					<button type="button" class="closeEquip" data-dismiss="modal"></button>
					<div id="QR-Code" class="container">
						<div class="panel panel-primary col-xs-12" style="border: none;">
							<div style="margin auto 40px; text-align: center; padding-top: 10px;">
								<select id="cameraId" class="form-control" style="display: inline-block;width: auto; display: none;"></select>
								<a href="#">
								<input id="play" value="{% trans 'Scan QR-Code' %}" title="Play" type="button" class="btn btn-success btn-sm">
								</input> </a>
							</div>
							<div class="panel-body" id="contentQRCode" style="padding-top: 10px; padding-bottom: 0px;">
								<div class="col-md-12 col-xs-12" style="text-align: center;">
									<div class="well" id="well" style="padding: 0px; position: relative;display: inline-block; border: green solid 2px;">
										<canvas id="qr-canvas" width="200px" height="200px"></canvas>
										<div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
										<div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
										<div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
										<div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
									</div>
								</div>
							</div>
							<div style="margin auto 40px; text-align: center;">
								<input type="text" id="qr_code" style="color:black;" placeholder="{% trans 'Type QR-Code' %}"/>

								<button id="submit" title="Play" type="button" class="btn btn-success btn-sm" onclick="checkEmployeeScanned('{{ csrf_token }}', '/home/checkEmployeeQrCode/', $('#qr_code').val());">
									<span class="glyphicon glyphicon-play"></span>
								</button>

							</div>
						</div>
					</div>
					<div id="clearBoth"></div>
				</div>
			</div>
		</div>
	  </div>

	  <!-- Modal Confirm to Add another employee -->
		<div class="modal fade" id="addEmployee" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content modalTask" style="text-align: center;">
					<button type="button" class="closeTask" data-dismiss="modal"></button>
					<span class="modal-title" id="titleModalSchedule" style="margin-left: 50px;">{% trans 'Scan QR-Code says:' %}
					</span>
					</br>
					<span id="errorQrCode" style="font-weight: bold; text-align: center;"></span>
					<div class="modal-body equipmentAlertModalBody">
						<p>
							{% trans 'Would you like to add another employee to the Group?' %}
						</p>
					</div>
					<input type="button" value="{% trans 'Yes' %}" class="btnModalYes" id="btnYesAddEmployee" onclick="addEmployeeGroup(true);"/>
					<input type="button" value="{% trans 'No' %}" class="btnModalNo" id="btnNoAddEmployee" onclick="addEmployeeGroup(false);"/>
					<div class="both"></div>
				</div>
			</div>
		</div>
	</br>
	</body>
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'WebCodeCam/js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'WebCodeCam/js/startScanQRCode.js' %}"></script>
	<script type="text/javascript" src="{% static 'WebCodeCam/js/qrcodelib.js' %}"></script>
	<script type="text/javascript" src="{% static 'WebCodeCam/js/WebCodeCam.js' %}"></script>
	<script>
	$(document).ready(function(){
    	$('[data-toggle="popover"]').popover();
	});
</script>
</html>