/*** Header Home Begin ***/
#top {
	height: 105px !important;
}
#menuTop {
    height: 105px;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}
#logoHome {
	width: 150px;
    height: 60px;
    margin-top: 18.5px;
}

.closeEquip {
	background: url('../imgSmall/buttons/esc.png') no-repeat top left;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	float: right;
	border: none;
	border-radius: 7px;
	box-shadow: -1px 1px 7px gray;
	margin: 0px;
	padding: 0px;
}

#clock {
	font-size: 25px;
    position: relative;
    color: #3C3C3C;
    font-weight: 600;
    background: #E6F1C0;
    text-align: center;
}

#messageTimekeeper{
    margin-top: 10px;
}

.modalButton {
 	margin-top: 20px;
}

#userImg {
	width: 95px;
	height: 95px;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border: none;
}
#logOff {
	width: 95px;
	height: 70px;
	margin-right: 5px;
	margin-top: 15px;
}

#btnTimerkeeper {
	background: url('../imgSmall/buttons/timekeeper.png') no-repeat top left;
	background-size: 100% 100%;
	position: relative;
    top: 50%;
    left: 43%;
	width: 212px;
    height: 196px;
    padding-top: 150px;
    font-size: 24px;
    margin-top:50px;
}

#btnManageHome {
	background: url('../imgSmall/buttons/checklist.png') no-repeat top left;
	background-size: 100% 100%;
	width: 212px;
    height: 196px;
    padding-top: 150px;
    font-size: 24px;
    margin-top:50px;
    top: 50%;
    left: 43%;
    margin-left: 100px;
}
/*** Header Home End ***/
/*** Header Driver Begin ***/
.btnTop {
	width: 95px !important;
	height: 95px;
	margin-top: 5px;
}

.btnManageForm {
	height: 50px;
    width: 80px;
    color: #434343;
    font-size: 35px;
    background-color: white;
    border: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, arial;
    padding-right: 0px !important;
}

.modal-open {
  overflow-y: auto;
}

.pin_input input[type=number] {
    -webkit-text-security: disc;
}

#myModal .modal-content
{
  height:200px;
  overflow:auto;
}

.btnsTimekeeper {
	background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
	background-size: 100% 100%;
	border-radius: 7px;
	border: none;
	box-shadow: 2px 2px 5px gray;
	height: 100px;
	width: 300px;
	color: white;
	margin-bottom: 25px;
	font-size: 35px;
	font-weight: 700;
}

.btnsTimekeeperShop {
	background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
	background-size: 100% 100%;
	border-radius: 7px;
	border: none;
	box-shadow: 2px 2px 5px gray;
	height: 100px;
	width: 300px;
	color: white;
	margin-bottom: 25px;
	font-size: 35px;
	font-weight: 700;
}

#employee-table td
{
    font-size: 25px;
    vertical-align: middle;
}

#taskTable tbody tr td {
    padding-right: 15px;
    padding-top: 15px;
}
#submit_pin{
    height: 55px; important!
    width: 60px; important!
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}


.tableListForm {
    margin: auto;
    margin-top: 20px;
    width: 95%;
}

.rowCream {
    color: black;
}

.btnCreateTeam {
    background: #1F3801;
    background-size: 100% 100%;
    border-radius: 7px;
    border: 1px solid #1F3801 !important;
    box-shadow: 2px 2px 5px gray;
    height: 65px;
    width: 250px;
    color: white;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
}

.edit-icon
{
   background:url('../imgSmall/buttons/edit.png') left top !important;
   background-size: 20px 20px;
   width:20px;
   height:20px;
   display: block;
   float: left;
}

.editedIcon {

    background: url('../imgSmall/editedIcon.png') no-repeat top left !important;
    background-size: 100% 100% !important;
    width: 20px !important;
    height: 20px !important;
    border: none !important;
}

#employeeList {
	text-align: left;
	font-size: 20px;
}
#employeeList input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin-bottom: 0px;
}
#divTimelog {
	color: black;
	font-size: 30px;
	text-align: center;
}
#divTimelog input[type=button] {
	border: 1px solid #DDD;
	padding: 5px;
	box-sizing: border-box;
	white-space: nowrap;
	cursor: pointer;
	background: #E5E5E5;
	width: 100%;
}
#timelogBack {
	background: url('../imgSmall/buttons/backPastTasks.png') no-repeat top left;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	float: left;
	border: none;
	border-radius: 7px;
	box-shadow: -1px 1px 7px gray;
	margin: 0px;
	padding: 0px;
}


#tableCreateTeam, #team {
    margin: auto;
    width: 90%;
    text-align: center;
}

#employeeList {
	text-align: left;
	font-size: 20px;
}
#employeeList input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin-bottom: 0px;
}


#timelogBack {
	background: url('../imgSmall/buttons/backPastTasks.png') no-repeat top left;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	float: left;
	border: none;
	border-radius: 7px;
	box-shadow: -1px 1px 7px gray;
	margin: 0px;
	padding: 0px;
}
#tableTimelog {
	margin: auto;
}
#tableTimelog tr td {
	padding: 5px;
}
#colBorderTimelog {
	background: #DDD;
}

/*** Header Driver End ***/
