body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, arial;
}
#logoHome {
	width: 190px;
	height: 100px;
}
#top {
	background-color: #1F3801;
	height: 100px;
	width: 100%;
	min-width: 1180px;
	text-align: left;
	margin: 0 auto;
	padding: 0px;
}
#menuTop {
	height: 100px;
	margin: 0px;
	padding: 0px;
	margin-left: 4px;
}
#userImg {
	background: url('../img/userPicture.png') no-repeat top left;
	background-size: 100% 100%;
	width: 105px;
	height: 90px;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}
#userImg:hover {
	background-size: 120% 120%;
	background-position: center;
}
#logOff {
	background: url('../img/buttons/logOffHover.jpg') no-repeat top left;
	background-size: 100% 100%;
	width: 60px;
	height: 90px;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}
#logOff:hover {
	background: url('../img/buttons/logOff.jpg') no-repeat top left;
	background-size: 100% 100%;
}
.btnTop {
	width: 105px;
	height: 90px;
	margin-top: 5px;
	margin-left: 2px;
}
#wrapper {
	text-align: center;
	width: 100%;
	min-width: 800px;
	height: 100%;
	min-height: 630px;
	padding: 0px;
	margin: 0px;
}
#namePage {
	background: #4F7218;
	float: left;
	width: 106px;
	height: 50px;
	padding-top: 15px;
	margin-left: 5px;
	margin-top: 5px;
	color: white;
}
#content {
	width: 100%;
	min-width: 800px;
	float: left;
}
footer {
	padding: 0px;
	margin: 0px;
}
#foot {
	text-align: center;
	margin: 0px;
	clear: both;
	bottom: 0;
	width: 100%;
	min-width: 800px;
	font-size: 120%;
	color: white;
	padding: 5px;
	font-size: 95%;
	background-color: #434343;
}
#logo {
	width: 180px;
	height: 80px;
	float: right;
	margin-top: 10px;
}
input[type=text] {
	padding: 7px;
	border: 0px solid #333;
	border-radius: 10px;
	font-weight: bold;
	color: black;
	font-weight: bold;
	font-size: 110%;
	box-shadow: 4px 4px 7px -1px black;
	text-align: center;
}
input[type=password] {
	padding: 7px;
	border: 0px solid #333;
	border-radius: 10px;
	font-weight: bold;
	color: black;
	font-weight: bold;
	font-size: 110%;
	box-shadow: 4px 4px 7px -1px black;
	text-align: center;
}
#login {
	margin-top: 40px;
}
#loginLogo {
	margin-top: 75px;
}
#loginTable {
	margin: auto;
}
.input_login {
	width: 350px;
	box-shadow: 2px 3px 2px -1px black;
	width: 355px;
	height: 55px;
}
#home {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#home:hover {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
/*BUTTONS*/
input[type="button"] {
	border-style: none;
	text-decoration: none;
}
#driverMenu {
	margin: auto;
	margin-top: 4%;
	text-align: center;
	width: 90%;
	/*border: 2px solid #999;*/
	/*padding: 30px 0px;*/
	border-radius: 40px 40px 40px 40px;
}
.alignright {
	text-align: right !important;
}
.alignLeft {
	text-align: left !important;
}
.colName {
	width: 10px;
	background: black;
}
/* Buttons of indexDriver.html */
.btnMain {
	width: 200px;
	height: 190px;
}
#btnEquipment {
	background: url('../img/buttons/btnEquipmentUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnTaskflow {
	background: url('../img/buttons/btnTaskflowUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnScheduler {
	background: url('../img/buttons/btnSchedulerUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnTimerkeeper {
	background: url('../img/buttons/btnTimekeeperUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnEmployee {
	background: url('../img/buttons/btnEmployee.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnRecorder {
	background: url('../img/buttons/btnRecorder.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnFleet {
	background: url('../img/buttons/btnFleet.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnManage {
	background: url('../img/buttons/btnManage	.png') no-repeat top left;
	background-size: 100% 100%;
}

#btnHomeUp {
	background: url('../img/buttons/btnHomeUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnHomeUp:hover {
	background: url('../img/buttons/btnHomeUpHover.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnEquipmentUp {
	background: url('../img/buttons/btnEquipmentUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnEquipmentUp:hover {
	background: url('../img/buttons/btnEquipmentUpHover.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnTaskflowUp {
	background: url('../img/buttons/btnTaskflowUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnTaskflowUp:hover {
	background: url('../img/buttons/btnTaskflowUpHover.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnTimerkeeperUp {
	background: url('../img/buttons/btnTimekeeperUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnTimerkeeperUp:hover {
	background: url('../img/buttons/btnTimekeeperUpHover.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnSchedulerUp {
	background: url('../img/buttons/btnSchedulerUp.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnSchedulerUp:hover {
	background: url('../img/buttons/btnSchedulerUpHover.jpg') no-repeat top left;
	background-size: 100% 100%;
}
#btnEmployeeUp {
	background: url('../img/buttons/btnEmployeeUp.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnEmployeeUp:hover {
	background: url('../img/buttons/btnEmployeeUpHover.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnRecorderUp {
	background: url('../img/buttons/btnRecorderUp.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnRecorderUp:hover {
	background: url('../img/buttons/btnRecorderUpHover.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnFleetUp {
	background: url('../img/buttons/btnFleetUp.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnFleetUp:hover {
	background: url('../img/buttons/btnFleetUpHover.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnManageUp {
	background: url('../img/buttons/btnManageUp.png') no-repeat top left;
	background-size: 100% 100%;
}
#btnManageUp:hover {
	background: url('../img/buttons/btnManageUpHover.png') no-repeat top left;
	background-size: 100% 100%;
}
/*Begin EQUIPMENT MANAGER page*/
#equipmentContent {
	width: 80%;
	margin: auto;
	margin-top: 60px;
}
.rowEquip {
	color: black;
	text-align: left;
	width: 100%;
	margin: 0px !important;
}
#boxBut {
	height: 160px;
	margin: 0 auto;
	padding: 0px;
}
#btnUpdateProfile {
	width: 100%;
	background: #1C3700;
	height: 40px;
	color: white;
}
#btnUpdateProfile:hover {
	color: black;
}
#btnHistory {
	width: 100%;
	background: #4F7218;
	height: 40px;
	color: white;
}
#btnHistory:hover {
	color: black;
}
#btnCosts {
	width: 100%;
	background: #1C3700;
	height: 40px;
	color: white;
}
#btnCosts:hover {
	color: black;
}
#btnService {
	width: 100%;
	background: #4F7218;
	height: 40px;
	color: white;
}
#btnService:hover {
	color: black;
}
#boxUpInfo {
	background: #7F9B22;
	height: 160px;
	color: white;
}
.equipInfo {
	padding: 0px;
	line-height: 18px;
	padding-top: 5px;
}
.pStatus {
	text-align: center;
	height: 50px;
	margin: 0px;
	font-size: 17px;
	padding: 15px;
	min-width: 190px;
	width: 100%;
	margin-left: 10px;
}
.colLeft {
	padding: 15px;
}
#btnStatus1 {
	background: #7F9B22;
}
#btnStatus2 {
	background: #F4CA02;
}
#btnStatus3 {
	background: #BD330C;
}
#notes {
	resize: none;
	padding: 3px;
	height: 150px;
	width: 80%;
	color: black;
}
.imgs {
	height: 180px;
	width: 180px;
	margin-right: 20px;
}
.divDown {
	margin: auto;
	width: 100%;
	height: 210px;
	background: #434300;
	color: white;
	min-width: 800px;
}
.colDown {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	text-align: left;
	text-decoration: none;
}
#info {
	background: #7F9B22;
	padding-left: 10px;
	height: 180px;
}
.map {
	float: left;
	width: 100%;
	border: none;
	height: 210px;
}
/*End EQUIPMENT MANAGER page*/
/* Begin Fleet page*/

#containerFleet {
	margin: auto;
	width: 1000px;
	padding-top: 80px;
}
.infoTractor {
	float: left;
	width: 111px;
	height: 90px;
}
#menu  a {
	color: white;
}
#menu {
	width: 100%;
}
#menu a:hover {
	color: black;
}
#menu > li.active > a:hover {
	color: black;
}
#menu > li > a {
	border-radius: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}
#menu > #greenTab > a {
	background-color: #809A21;
}
#menu > #yellowTab > a {
	background-color: #F3C902;
}
#menu > #redTab > a {
	background-color: #BB330C;
}
#menu > #grayTab > a {
	background-color: #434343;
}
#menu > li.active > a {
	padding-top: 15px;
}
#tractorContent {
	margin: auto;
	padding-top: 5px;
}
#tractorContent a {
	text-decoration: none;
	color: black;
}
.tab-content > #goodTab a {
	color: #809A21;
}
.tab-content > #serviceTab a {
	color: #F3C902;
}
.tab-content > #brokenTab a {
	color: #BB330C;
}
.tab-content > #repairTab a {
	color: #434343;
}
.tab-content > #goodTab .infoTractor {
	border: solid 1px #809A21;
}
.tab-content > #serviceTab .infoTractor {
	border: solid 1px #F3C902;
}
.tab-content > #brokenTab .infoTractor {
	border: solid 1px #BB330C;
}
.tab-content > #repairTab .infoTractor {
	border: solid 1px #434343;
}
#viewMore {
	width: 1000px;
	border-radius: 0px;
	background-color: #809A21;
	border: none;
}
/*End Fleet Page*/

/*** Form Page End ***/
#contentForm {
	width: 50%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid gray;
	box-shadow: 2px 2px 8px 0px gray;
	border-radius: 10px;
}
#formPage {
	color: #1F3801;
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	width: 300px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}
#formPage input {
	width: 300px;
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 5px 0px;
	margin-bottom: 5px;
	padding: 3px;
}
#formPage select {
	width: 300px;
	height: 30px;
	font-size: 20px;
	padding: 3px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 5px 0px;
}
#saveForm {
	background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
	background-size: 100% 100%;
	border-radius: 10px !important;
	border: none !important;
	box-shadow: 2px 2px 5px gray !important;
	height: 50px !important;
	width: 70% !important;
	color: white;
	font-size: 30px !important;
	font-weight: 700;
	margin-top: 10px !important;
	margin-left: 47px;
}
/*** Form Page End ***/

/*** Manage Forms Page Begin ***/
#contentManageForm {
	width: 50%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid gray;
	box-shadow: 2px 2px 8px 0px gray;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 20px;
}
.btnManageForm {
	background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
	background-size: 100% 100%;
	border-radius: 7px;
	border: none;
	box-shadow: 2px 2px 5px gray;
	height: 50px;
	width: 200px;
	color: white;
}
.tableListForm {
	margin: auto;
	margin-top: 20px;
}
.tableListForm tr td {
	padding: 20px;
	padding-left: 55px;
	padding-right: 55px;
}
.rowCream {
	background: #E0E0A7;
	color: black;
}
.rowGray {
	background: #968072;
	color: white;
}
/*** Manage Forms Page End ***/






