/*** General Begin ***/
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, arial;
}
#wrapper {
    text-align: center;
    width: 100%;
    min-width: 640px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#content {
    width: 100%;
    min-width: 640px;
}
footer {
    /*color: white;*	/
     width: 100%;
     /*background: #434343;*/
    position: relative;
    bottom: 0px;
    padding: 2px;
    text-align: center;
}
.namePage {
    float: left;
    color: #4C6A2A;
    font-weight: 600;
    margin-left: 5px;
}
.namePageCenter {
    float: center;
    color: #809A21;
    font-weight: 600;
    margin-top: 5px;
    font-size: 20px;
}
.row {
    width: 100%;
    margin: 0px;
}
.both {
    clear: both;
}
input[type=button] {
    border: none;
}
/*** General End ***/

/*** Login Page Begin ***/
#login {
    margin-top: 20px;
    margin-bottom: 50px;
}
#loginTable {
    margin: auto;
}
.input_login {
    width: 180px;
    height: 30px;
    margin: 0px;
    margin-bottom: 5px;
}
.icnLogin {
    margin-bottom: 10px;
}
#btn_login {
    background: url('../imgSmall/buttons/loginBtn.png') no-repeat top left;
    background-size: 100% 100%;
    width: 100%;
    width: 212px;
    height: 33px;
    border: none;
    padding: 0px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
}
.input_login[type=text] {
    padding: 7px;
    border: 2px solid #809256;
    border-radius: 7px;
    font-weight: bold;
    color: black;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}
.input_login[type=password] {
    padding: 7px;
    border: 2px solid #809256;
    border-radius: 7px;
    font-weight: bold;
    color: black;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}
#errorMessage {
    font-size: 12px;
    background: #F2DEDE;
    color: #A94442;
    padding: 6px;
    font-weight: 700;
    margin-top: 5px;
    display: none;
    border-radius: 5px;
    border: 1px solid #A94442;
    margin-bottom: -50px;
}
/*** Login Page End ***/

/*** Header Home Begin ***/
#top {
    background-color: #1F3801;
    height: 60.5px;
    width: 100%;
    min-width: 640px;
    text-align: left;
    margin: 0 auto;
    padding: 0px;
}
#menuTop {
    height: 60px;
    margin: 0px;
    padding: 0px;
    margin-left: 2.5px;
}
#logoHome {
    width: 170px;
    height: 55px;
    margin-top: 2.5px;
}
#userImg {
    background: url('../imgSmall/buttons/userPicture.png') no-repeat top left;
    background-size: 100% 100%;
    width: 55px;
    height: 55px;
    margin-right: 2.5px;
    margin-top: 2.5px;
    float: right;
    border: none;
    border-radius: 7px;
}
#logOff {
    background: url('../imgSmall/buttons/exit.png') no-repeat top left;
    background-size: 100% 100%;
    width: 55px;
    height: 40px;
    margin-right: 2.5px;
    margin-top: 10px;
    float: right;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}
/*** Header Home End ***/

/*** Header Driver Begin ***/
.btnTop {
    width: 55px;
    height: 55px;
    margin-top: 2.5px;
    border: none;
    border-radius: 5px;
}
#btnHomeUp {
    background: url('../imgSmall/buttons/btnHomeTop.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnEquipmentUp {
    background: url('../imgSmall/buttons/btnEquipmentTop.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnTaskflowUp {
    background: url('../imgSmall/buttons/btnTaskflowTop.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnSchedulerUp {
    background: url('../imgSmall/buttons/btnScheduleTop.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnTimerkeeperUp {
    background: url('../imgSmall/buttons/btnTimekeeperTop.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnChecklistUp {
    background: url('../imgSmall/buttons/btnChecklistTop.png') no-repeat top left;
    background-size: 100% 100%;
}
/*** Header Driver End ***/

/*** Home Page Begin ***/
.btnMain {
    width: 105px;
    height: 105px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    color: white;
    padding-top: 82px;
    font-size: 14.5px;
    font-weight: 600;
}
#driverMenu {
    min-width: 640px;
    margin: auto;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 103px;
}
.btnHomeDriver {
    margin-left: 2%;
}
#btnEquipment {
    background: url('../imgSmall/buttons/equipment.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnTaskflow {
    background: url('../imgSmall/buttons/taskflow.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnScheduler {
    background: url('../imgSmall/buttons/schedule.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnTimerkeeper {
    background: url('../imgSmall/buttons/timekeeper.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnChecklist {
    background: url('../imgSmall/buttons/checklist.png') no-repeat top left;
    background-size: 100% 100%;
}
#backgroundFooter {
    background-size: 100% 100%;
    width: 100%;
    min-width: 640px;
    max-height: 100px;
    position: fixed;
    bottom: 0;
}
/*** Home Page End ***/

/*** Timekeeper Page Begin ***/
#tableCreateTeam, #team {
    margin: auto;
    width: 90%;
    text-align: center;
}
#team td {
    padding: 5px;
}
#team input[type='text'] {
    width: 100%;
}
#team input[type='checkbox'] {
    width: 20px;
    height: 20px;
}
.btnCreateTeam {
    background: #1F3801;
    background-size: 100% 100%;
    border-radius: 7px;
    border: 1px solid #1F3801 !important;
    box-shadow: 2px 2px 5px gray;
    height: 50px;
    width: 200px;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}
.btnsTimekeeper {
    background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 50px;
    width: 200px;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}
.btnGreenTime {
    background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 50px;
    width: 100px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}
.btnRedTime {
    background: url('../imgSmall/buttons/btnRed.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 50px;
    width: 100px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}
#stopShift {
    background: url('../imgSmall/buttons/stopShift.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 93px;
}
.btnColTime {
    padding: 0px;
}
#scanNow {
    background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 40px;
    width: 170px;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
#addNow {
    background: #1F3801;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
/* MODAL SIGNATURE BEGIN */
#titleSign {
    text-align: center;
    font-size: 25px;
    color: #5D7D1B;
    font-weight: 600;
}
.signModalDialog {
    width: 100% !important;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.closeSignature {
    background: url('../imgSmall/buttons/esc.png') no-repeat top left;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    float: right;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 1px 7px gray;
    margin: 0px;
    padding: 0px;
}
#btnSignature input[type=button], #divSignNow input[type=button] {
    border: 1px solid #DDD;
    padding: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
    background: #E5E5E5;
    width: 40%;
    color: black;
    font-size: 17px;
}
/* MODAL SGNATURE BEGIN */
/* MODAL TIMEKEEPER BEGIN */
.modalTimekeeper {
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    color: #1F3801;
    /* message red = #BB330C /// message green #1F3801*/
    text-align: center;
}
.closeTimekeeper {
    background: url('../imgSmall/buttons/esc.png') no-repeat top left;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    float: right;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 1px 7px gray;
    margin: 0px;
    padding: 0px;
}
#employeeList {
    text-align: left;
    font-size: 20px;
}
#employeeList input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-bottom: 0px;
}
#divTimelog {
    color: black;
    font-size: 17px;
    text-align: center;
}
#divTimelog input[type=button] {
    border: 1px solid #DDD;
    padding: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
    background: #E5E5E5;
    width: 100%;
}
#timelogBack1, #timelogBack2 {
    background: url('../imgSmall/buttons/backPastTasks.png') no-repeat top left;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    float: left;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 1px 7px gray;
    margin: 0px;
    padding: 0px;
}
#tableTimelog {
    margin: auto;
}
#tableTimelog tr td {
    padding: 5px;
}
.colBorderTimelog {
    background: #DDD;
}
.popover-content {
    padding: 0px 5px !important;
    font-size: 15px !important;
}
.errorIcon {
    background: url('../imgSmall/errorIcon.png') no-repeat top left !important;
    background-size: 100% 100% !important;
    width: 20px !important;
    height: 20px !important;
    border: none !important;
}
.editIcon {
    background: url('../imgSmall/editIcon.png') no-repeat top left !important;
    background-size: 100% 100% !important;
    width: 20px !important;
    height: 20px !important;
    border: none !important;
}
.editedIcon {

    background: url('../imgSmall/editedIcon.png') no-repeat top left !important;
    background-size: 100% 100% !important;
    width: 20px !important;
    height: 20px !important;
    border: none !important;
}
#addingList {
    font-size: 17px !important;
    margin-bottom: 10px;
}
/*#trStartShift input[type=time] {
 height: 20px !important;
 margin-left: 2px;
 }*/
/* MODAL TIMEKEEPER BEGIN /*
 /*** Timekeeper Page End ***/

/*** Taskflow Page Begin ***/
.pendingTasks {
    width: 100%;
    min-width: 640px;
    max-width: 800px;
    margin: auto;
}
.nextBox {
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    color: white;
    width: 31%;
    font-size: 15px;
    padding-bottom: 10px;
    height: 170px;
    overflow: auto;
}
.titleNextTask {
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
}
#next1 {
    background: url('../imgSmall/buttons/next1.png') no-repeat top left;
    background-size: 100% 100%;
    margin-left: 1%;
}
/*#next1:hover {
 background: url('../imgSmall/buttons/next1Hover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
#next2 {
    background: url('../imgSmall/buttons/next2.png') no-repeat top left;
    background-size: 100% 100%;
    color: #434343;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
/*#next2:hover {
 background: url('../imgSmall/buttons/next1Hover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
#next3 {
    background: url('../imgSmall/buttons/next2.png') no-repeat top left;
    background-size: 100% 100%;
    color: #434343;
    float: right;
    margin-right: 1%;
}
/*#next3:hover {
 background: url('../imgSmall/buttons/next1Hover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.moreInfo {
    text-decoration: none;
    color: #4F7316;
}
#moreInfo1 {
    color: black; !important
}
.plusInfo {
    font-style: italic;
    text-decoration: none;
    color: #4F7316;
}
.btnPastNextTask {
    width: 100%;
    min-width: 640px;
    max-width: 800px;
    margin: auto;
}
.colTasks {
    width: 31% %;
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 10px;
}
#colPast {
    margin-left: 1%;
}
#colCreate {
    float: right;
    margin-right: 1%;
}
#btnPastTasks {
    background: url('../imgSmall/buttons/btnPastTasks.png') no-repeat top left;
    background-size: 100% 100%;
    width: 195px;
    height: 55px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    color: white;
    font-weight: 700;
    text-align: right;
    font-size: 18px;
}
/*#btnPastTasks:hover {
 background: url('../imgSmall/buttons/btnPastTasksHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
#btnCreateTask {
    background: url('../imgSmall/buttons/btnCreateTask.png') no-repeat top left;
    background-size: 100% 100%;
    width: 195px;
    height: 55px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    color: #353945;
    font-weight: 700;
    text-align: right;
    font-size: 18px;
}
/*#btnCreateTask:hover {
 background: url('../imgSmall/buttons/btnCreateTaskHover.png') no-repeat top left;
 background-size: 100% 100%;
 color: white;
 }*/
.pendingTasks a {
    font-style: normal;
}
/*** Modal Start Task Begin ***/
.modalTask {
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    color: #466C00;
}
#dataMoreInfo {
    font-size: 25px;
    font-weight: 700;
}
#btnStartTask {
    background: url('../imgSmall/buttons/startNow.png') no-repeat top left;
    background-size: 100% 100%;
    width: 140px;
    height: 40px;
    float: right;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#btnStartTask:hover {
    background: url('../imgSmall/buttons/startNowHover.png') no-repeat top left;
    background-size: 100% 100%;
}
.closeTask {
    background: url('../imgSmall/buttons/esc.png') no-repeat top left;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    float: right;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 1px 7px gray;
    margin: 0px;
    padding: 0px;
}
/*.closeTask:hover {
 background: url('../imgSmall/buttons/escHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.infoTask {
    text-align: left;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}
.infoModalTask {
    color: #434343;
}
/*** Modal Start Task End ***/
/*** Taskflow Page End ***/

/*** Checklist Page Begin ***/

.checkNo {
    width: 250px;
    height: 90px;
    background: url('../imgSmall/buttons/no.png') no-repeat top left;
    background-size: 100% 100%;
    font-size: 50px;
    margin: auto;
    color: white;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}
.checkYes {
    width: 250px;
    height: 90px;
    background: url('../imgSmall/buttons/yes.png') no-repeat top left;
    background-size: 100% 100%;
    font-size: 50px;
    margin: auto;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}

.btnGreenCheckList {
    background: url('../imgSmall/buttons/btnGreen.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

#engine_hours {
    border: solid 2px #333;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}

#checkList {
    font-size: 35px;
}
#progressCheckList {
    margin: 10px;
    margin-bottom: 4px;
    height: 22px;
}

/*** Begin Modal Take Picture ***/

#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

/*** End Modal Take Picture ***/
/*** Checklist Page End ***/
/**************************************************************/
/*** Past Tasks Page Begin ***/
.divPast {
    text-align: center;
    width: 80%;
    margin: auto;
    min-width: 800px;
    margin-top: 60px;
    color: black;
    padding: 0px;
    padding-top: 5px;
    font-size: 30px;
    text-align: center;
}
.pastBox {
    color: white;
    background: #434343;
    text-align: left;
    margin: auto;
    width: 38%;
    height: 140px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
    overflow: auto;
}
.btnPastTasks {
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
    width: 9%;
}
#past1 {
    margin-left: 2%;
    margin-right: 0px;
}
#past2 {
    float: left;
}
#btnBack {
    background: url('../imgSmall/buttons/backPastTasks.png') no-repeat top left;
}
#btnForward {
    background: url('../imgSmall/buttons/nextPastTasks.png') no-repeat top left;
}
.btnBackAdv {
    background-size: 100% 100%;
    width: 34px;
    border-radius: 10px;
    height: 34px;
    color: white;
    font-size: 20px;
    margin: auto;
}
#btnReturn {
    background: url('../imgSmall/buttons/returnPastTasks.png') no-repeat top left;
    background-size: 100% 100%;
    width: 161px;
    height: 40px;
    padding-left: 30px;
    color: white;
}
.blockBtnReturn {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 0%;
}
#task2 {
    margin-right: 65px;
}
#task1 {
    margin-right: 190px;
}
.dateTasks {
    font-size: 20px;
    float: left;
    padding: 0px;
    width: 50%;
}
.hour {
    font-size: 12px;
}
/*** Past Tasks Page End ***/

/*** Scan QR-Code Page Begin ***/
#play {
    background: url('../imgSmall/buttons/scan.png') no-repeat top left;
    background-size: 100% 100%;
    width: 161px;
    height: 40px;
    font-size: 14px;
    padding-left: 60px;
    color: white;
}
.panel-primary {
    height: 320px;
}
#QR-Code {
    padding-top: 15px;
}
#submit {
    width: 60px;
    height: 35px;
    margin-bottom: 0px;
}
.glyphicon {
    font-size: 20px;
}
#qr_code_typed {
    height: 35px;
    margin: auto;
    padding: 7px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}
.btn-success {
    border-color: none;
}
/*** Scan QR-Code Page End ***/

/*** Create Task Page Begin ***/
#contentCreateTask {
    width: 80%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 10px;
    min-width: 600px;
    max-width: 800px;
    min-height: 230px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 5px 10px grey;
}
#contentCreateTask .nav {
    margin-bottom: 7px;
}
.inputCreateTask {
    width: 100%;
    height: 35px;
    font-size: 20px;
    text-align: left;
    border: 2px solid #809A21;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
}
.imgCreateTask {
    width: 110px;
    height: 110px;
    margin-left: -10px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}
.descriptionTask {
    width: 100%;
    height: 70px;
    font-size: 20px;
    text-align: left;
    border: 2px solid #809A21;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.alignCenterPage {
    margin-top: 40px;
}
.textCreateTask {
    font-size: 18px;
    text-align: right;
    color: #809A21;
    font-weight: bold;
    line-height: 35px;
}
#AddImplement {
    background: url('../imgSmall/buttons/addImplement.png') no-repeat top left;
    background-size: 100% 100%;
    width: 140px;
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 7px;
    border: none;
    color: white;
}
/*#AddImplement:hover {
 background: url('../imgSmall/buttons/addImplementHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/

#delImplement {
    background: url('../imgSmall/buttons/startNow.png') no-repeat top left;
    background-size: 100% 100%;
    width: 140px;
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 7px;
    border: none;
    color: white;
}
#delImplement:hover {
    background: url('../imgSmall/buttons/startNow.png') no-repeat top left;
    background-size: 100% 100%;
}
.findEquipment {
    background: url('../imgSmall/buttons/search.png') no-repeat top left;
    background-size: 100% 100%;
    min-width: 120px;
    width: 48%;
    height: 35px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 7px;
    border: none;
    text-align: left;
    padding-left: 15%;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
/*.findEquipment:hover {
 background: url('../imgSmall/buttons/searchHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.scanEquipment {
    background: url('../imgSmall/buttons/scan.png') no-repeat top left;
    background-size: 100% 100%;
    min-width: 120px;
    width: 48%;
    height: 35px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 7px;
    border: none;
    text-align: left;
    padding-left: 20%;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
/*.scanEquipment:hover {
 background: url('../imgSmall/buttons/scanHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.nextTab {
    background: url('../imgSmall/buttons/next.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 35px;
    width: 170px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 35px;
}
/*.nextTab:hover {
 background: url('../imgSmall/buttons/nextHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.prevTab {
    background: url('../imgSmall/buttons/prev.png') no-repeat top left;
    background-size: 100% 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    height: 35px;
    width: 170px;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 25px;
}

/* Modal quick add equipment */
.btnModalYes {
    background: url('../imgSmall/buttons/startNow.png') no-repeat top left;
    background-size: 100% 100%;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin-right: 90px;
    margin-left: 75px;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    float: left;
}
.btnModalNo {
    background: url('../imgSmall/buttons/btnRed.png') no-repeat top left !important;
    background-size: 100% 100% !important;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: 2px 2px 5px gray !important;
    color: white;
    font-size: 20px;
    margin-bottom: 10px !important;
    width: 140px !important;
    height: 40px;
    float: left;
}
.modal-body #saveForm {
    background: url('../imgSmall/buttons/startNow.png') no-repeat top left;
    background-size: 100% 100%;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    float: right;
}
/*.prevTab:hover {
 background: url('../imgSmall/buttons/backHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
/* Nav tabs */
.nav > li {
    width: 100px;
    font-weight: bold;
}
/* Tabs status begin */
.nav > li > a {
    color: white;
    background-color: #989898;
    border-radius: 10px 10px 0px 0px;
}
.nav > li > a.tabError {
    background-color: red;
    color: white;
}
.nav > li > a.tabSucess {
    background-color: #4F7219;
    color: white;
}
/*	Tabs status end */
.findTractor {
    width: 90%;
    min-width: 300px;
    overflow-y: scroll;
    max-height: 85%;
}
#filterDiv {
    width: 20%;
    border-right: 2px solid grey;
    float: left;
    min-height: 300px;
}
#filterDiv h3 {
    margin-top: 0px;
}
.selectFilters {
    font-size: 20px;
    width: 90%;
}
.showEquipmentDiv {
    width: 79%;
    float: right;
    min-height: 400px;
}
.showImplementDiv {
    width: 79%;
    float: right;
    min-height: 400px;
}
.tractorFiltered {
    width: 31%;
    min-width: 200px;
    min-height: 300px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: #EEE;
    float: left;
    font-size: 20px;
}
.tractorFiltered img {
    width: 200px;
    height: 200px;
}
/*** Create Task Page End ***/

/*** Scheduler Page Begin ***/
#cal {
    width: 90%;
    height: 200px;
    margin: auto;
}
#cal h2 {
    font-size: 18px;
}
.fc-button {
    width: 60px;
    height: 10px;
}
.fc-toolbar {
    margin-bottom: 2px;
}
.fc-time span {
    font-size: 14px;
}
.fc-event .fc-bg {
    border: solid black 2px;
}
/* 400px in the PC */
.fc-scroller {
    height: 250px !important;
}
/*** Modal Scheduler Begin ***/
.modalSchedule {
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    color: #466C00;
}
#titleModalSchedule {
    font-size: 25px;
    font-weight: 700;
}
#btnAprove {
    background: url('../imgSmall/buttons/startNow.png') no-repeat top left;
    background-size: 100% 100%;
    width: 140px;
    height: 40px;
    float: right;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/*#btnAprove:hover {
 background: url('../imgSmall/buttons/startNowHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.closeSchedule {
    background: url('../imgSmall/buttons/esc.png') no-repeat top left;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    float: right;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 1px 7px gray;
    margin: 0px;
    padding: 0px;
}
/*.closeSchedule:hover {
 background: url('../imgSmall/buttons/escHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
.infoSchedule {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.infoModalSchedule {
    color: #434343;
}
/*** Modal Scheduler End ***/
/*** Scheduler Page End ***/

/*** Start Task Page Begin ***/
.btnCreateTask {
    background: url('../imgSmall/buttons/break.png') no-repeat top left;
    background-size: 100% 100%;
    color: white;
    width: 120px;
    font-size: 16px;
    margin-left: 120px;
    margin-top: 20px;
}
.startTaskInfo {
    font-size: 22px;
    text-align: left;
    color: #809A21;
    padding: 20px;
    font-weight: bold;
    margin-top: -10px;
    line-height: 35px;
}
.startTaskInfo span {
    color: black;
}
#rowFieldStartTask {
    height: 100px;
}
#rowFieldStartTask2 {
    margin-top: -100px;
}
/*** Start Task Page End ***/

/*** Equipment Page Begin ***/
.divEquip {
    color: #577225;
    font-size: 20px;
    font-weight: 600;
    max-width: 800px;
    margin: auto;
}
.rowUpEquip {
    width: 100%;
    margin: auto;
    color: black;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    line-height: 25px;
}
#colBtnsEquip {
    padding: 0px;
    text-decoration: none;
    margin-left: 15px;
    margin-right: -15px;
    max-width: 160px;
}
.btnStatusEquip {
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    font-size: 15px;
    margin-top: 5px;
    padding: 0px;
    border: 2px solid black !important;
}
#btnOk {
    background: url('../imgSmall/buttons/ok.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnService {
    background: url('../imgSmall/buttons/service.png') no-repeat top left;
    background-size: 100% 100%;
}
#btnBroken {
    background: url('../imgSmall/buttons/broken.png') no-repeat top left;
    background-size: 100% 100%;
}
#notesEquip {
    width: 100%;
    max-width: 130px;
    margin-top: 5px;
    height: 100px;
    font-size: 15px;
    line-height: 15px;
    padding: 1px;
    resize: none;
    border: none;
    border-radius: 5px;
    border: 2px solid #819927;
    box-shadow: 2px 2px 5px gray;
}
#colSpecEquip {
    font-size: 18px;
}
.rowDownEquip {
    width: 100%;
    margin: auto;
}
#colSpecImg1 {
    text-align: left;
    padding-top: 10px;
    width: 60px;
}
#colSpecImg2 {
    padding-top: 10px;
    width: 140px;
    margin-left: 30px;
}
#colSpecImg3 {
    text-align: left;
    padding-top: 25px;
    width: 60px;
}
#btnSpecs {
    background: url('../imgSmall/buttons/specs.png') no-repeat top left;
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    padding-top: 57px;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}
#btnTractor {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    border: 3px solid #819927;
}
#btnAddImg {
    background: url('../imgSmall/buttons/addImage.png') no-repeat top left;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    padding-top: 35px;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}
#colMapHolder {
    max-width: 360px;
}
#mapholder {
    width: 290px;
    height: 100px;
    margin-top: -10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 2px solid #819927;
}
/*** Modal Equipment Begin ***/
#modalEquipSpecs {
    font-size: 20px;
    margin-left: 30px;
}
.specModalEquip {
    color: #434343;
}
.modalEquip {
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    color: #466C00;
}
.closeEquip {
    background: url('../imgSmall/buttons/esc.png') no-repeat top left;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    float: right;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 1px 7px gray;
    margin: 0px;
    padding: 0px;
}
/*.closeEquip:hover {
 background: url('../imgSmall/buttons/escHover.png') no-repeat top left;
 background-size: 100% 100%;
 }*/
#slideModalEquip {

}
.controlModalEquip {
    border-radius: 10px;
    width: 20%;
}
.imgsEquip {
    width: 350px;
    height: 235px !important;
    margin: auto;
    border-radius: 10px;
    border: 5px solid #819927;
}
/*** Modal Equipment End ***/
/*** Equipment Page End ***/




























