<!DOCTYPE html>
<html>
<head>
	{% load i18n %}
	<title>Login Test</title>
	<script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery.js"></script> 
</head>
<body>

	<form id="login-form">
		{% csrf_token %}
		<input id="username" type="text" name="username">
		<br>
		<input id="password" type="password" name="password">
		<br><br>
		<input type="button" value="Submit" onclick="login('{{csrf_token}}')">	
	</form>
	
	<script type="text/javascript">

	function login (token) {
		console.log("function called")
		$.ajax({
			method: "POST",
			url: "login/",
			data: $('#login-form').serialize(),
			success: function(data, status, xhr){
				document.write(data)
			}
		});
	}
	</script>
</body>
</html>