<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>login</title>
		<meta name="description" content="">
		<meta name="author" content="Carlos Eduardo Domingues">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		{% load staticfiles %}
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleSmall.css' %}">
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/styleSmall.css' %}" media="screen and (max-width: 800px) and (orientation: landscape)">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleMedium.css' %}" media="screen and (min-width: 801px)"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="{% static 'manifest.json' %}">

		<script>
			$("#username").click(function() {
				$("#password").attr("placeholder", "Enter your password");
				$("#username").attr("placeholder", "");
				$("#username").css("font-size", "20px");
			});
			$("#password").click(function() {
				$("#username").attr("placeholder", "Enter your username");
				$("#password").attr("placeholder", "");
				$("#password").css("font-size", "20px");
			});
			function enter(){
 			    if (event.keyCode == 13){
  					process_login();
      			}
			}
		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="col-xs-12 col-md-12">
					<img id="loginLogo" src="{% static 'imgSmall/logo.png' %}"/>
				</div>
			</div>
			<div id="login">
				<br />
				<table id="loginTable">
					<form id="login-form">
						{% csrf_token %}
						<tr>
							<td><img class="icnLogin" src="{% static 'imgSmall/userIcn.png' %}"/></td><td>
							<input  type="text" class="input_login" id="username" name="username" placeholder="Enter your username"/>
							</td>
						</tr>
						<tr>
							<td><img class="icnLogin" src="{% static 'imgSmall/passwordIcn.png' %}" /></td><td>
							<input  type="password" class="input_login" id="password" name="password" placeholder="Enter your password" onkeypress="enter()"/>
							</td>
						</tr>
						<tr>
							<td colspan="2">
							<input id="btn_login" class="blue_label" type="button" onclick="process_login()"/>
							</td>
						</tr>
						<tr>
							<td colspan="2"><span id="errorMessage"></span></td>
						</tr>
					</form>
				</table>
			</div>
			<footer>
				&copy;2015 Heavy Connect, Inc.
			</footer>
		</div>
	</body>
</html>
