<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>HeavyConnect</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, heigh=device-height, initial-scale=1.0, user-scalable=no">
		<!--IMPORTS-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleManager.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleSmall.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleMedium.css' %}" media="screen and (min-width: 801px) and (orientation: landscape)">

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- Replace hc-logo.png & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="{% static 'manifest.json' %}">
		<style type="text/css">
			.js #fouc {display: none;}
		</style>
		<script type="text/javascript">
			document.documentElement.className = 'js';
		</script>
	</head>
	
	<body>
		<div id="fouc">
		<div id="top">
			<div id="menuTop">
				<a href="{% url 'indexManager' %}"><input type="button" class="btnTop" id="btnHomeUp" /></a>
				<a href="{% url 'time_keeper_records' %}"><input type="button" class="btnTop" id="btnTimerkeeperUp" /></a>
				<a href="{% url 'listEmployee' %}"><input type="button" class="btnTop" id="btnManageHome" /></a>

				<a href="{% url 'logout' %}"><input type="button" value="EXIT" id="logOff"/></a>
				<a  href="{% url 'profile' %}"><input type="button" id="userImg"/></a>
			</div>
			<div id="clock"></div>
		</div>
			</div>
		<script type="text/javascript">
			document.getElementById("fouc").style.display="block";
		</script>
	</body>
	<script>
	function getProfileImage(token, url){
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token},
				async: true,
				datatype : "json",
				success : function(data, status, xhr) {
					//console.log(data.imageUrl);
					$("#userImg").css("background", "url({% static 'media/' %}" + data.imageUrl + ")");
					$("#userImg").css("background-size", "100% 100%");			
					$("#userImg").css("border-radius", "7px");	
				}
			});
		}			
		getProfileImage("{{ csrf_token }}", "{% url 'getImageUser' %}");

		function GetClock(){
			var d=new Date();
			var nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
			if(nyear<1000) nyear+=1900;
			var nhour=d.getHours(),nmin=d.getMinutes(),ap;
			if(nhour==0){ap=" AM";nhour=12;}
			else if(nhour<12){ap=" AM";}
			else if(nhour==12){ap=" PM";}
			else if(nhour>12){ap=" PM";nhour-=12;}

			if(nmin<=9) nmin="0"+nmin;

			document.getElementById('clock').innerHTML=""+(nmonth+1)+"/"+ndate+"/"+nyear+" "+nhour+":"+nmin+ap+"";
		}

		$(document).ready(function() {
			GetClock();
			setInterval(GetClock,1000);


		});
	</script>
</html>