<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Heavy Connect</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!--IMPORTS-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleManager.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>
	
	<body>
		<div id="top">
			<div id="menuTop">
				<a href="{% static 'indexDriver' %}"><input type="button" class="btnTop" id="btnHomeUp" /></a>
				<a href="{% static 'equipmentManager' %}"><input type="button" class="btnTop" id="btnEquipmentUp" /></a>
				<a href="{% static 'taskFlow' %}"><input type="button" class="btnTop" id="btnTaskflowUp" /></a>
				<a href="{% static 'scheduler' %}"><input type="button" class="btnTop" id="btnSchedulerUp" /></a>
				<a href="{% static 'timeKeeper' %}"><input type="button" class="btnTop" id="btnTimerkeeperUp" /></a>
				<a href="{% static 'equipmentManager' %}"><input type="button" class="btnTop" id="btnEmployeeUp" /></a>
				<a href="{% static 'taskFlow' %}"><input type="button" class="btnTop" id="btnRecorderUp" /></a>
				<a href="{% static 'scheduler' %}"><input type="button" class="btnTop" id="btnFleetUp" /></a>
				<a href="{% static 'timeKeeper' %}"><input type="button" class="btnTop" id="btnManageUp" /></a>
				<a href="{% static 'logout' %}"><input type="button" id="logOff"/>
				<a href="{% static 'profile' %}"><input type="button" id="userImg"/>
			</div>
		</div>
	</body>
</html>