container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python heavyconnect/manage.py migrate --noinput"
    leader_only: true

  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python heavyconnect/manage.py createsu"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python heavyconnect/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "heavyconnect.settings"
    "PYTHONPATH": "/opt/python/current/app/heavyconnect:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: heavyconnect/heavyconnect/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    option_name: "/static/"
    value: "heavyconnect/static/"