<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess s3sr3t-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Project - Python</title>
		<script>
			$(function() {
				$("#btnSave").button().click(function(event) {
					event.preventDefault();
					alert("photo saved!");
				});
				$("#btnTake").button().click(function(event) {
					event.preventDefault();
					alert("photo took!");
				});
				$(".btnEffect").button().click(function(event) {
					event.preventDefault();
					alert("effect choosen!");
				});
				$(".btnColor").button().click(function(event) {
					event.preventDefault();
					alert("color choosen!");
				});
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<div id="divEffects">
					<img src="img/back.jpg" class="btnEffect" id="mini1"/>
					<img src="img/back.jpg" class="btnEffect" id="mini2"/>
					<img src="img/back.jpg" class="btnEffect" id="mini3"/>
					<img src="img/back.jpg" class="btnEffect" id="mini4"/>
					<img src="img/back.jpg" class="btnEffect" id="mini5"/>
					<img src="img/back.jpg" class="btnEffect" id="mini6"/>
					<img src="img/back.jpg" class="btnEffect" id="mini7"/>
					<img src="img/back.jpg" class="btnEffect" id="mini8"/>
					<img src="img/back.jpg" class="btnEffect" id="mini9"/>
					<img src="img/back.jpg" class="btnEffect" id="mini10"/>
					<img src="img/back.jpg" class="btnEffect" id="mini11"/>
					<img src="img/back.jpg" class="btnEffect" id="mini12"/>
					<h2 style="color: white;">Effects</h2>
				</div>
				<div id="divColors">
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<input type="button" class="btnColor"></input>
					<h2 style="color: white; margin-top: 8%;">Colors</h2>
				</div>
				<div id="photoLive"></div>
				<input type="button" id="btnSave" value="Save Photo"></input>
				<input type="button" id="btnTake" value="Take Photo"></input>
			</div>
		</div>
	</body>
</html>
























