<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Project 2</title>
  <meta name="description" content="">
  <meta name="author" content="Carlos Eduardo Domingues">

  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <style>
    /* Image Designing Propoerties */
    
  </style>
  <script type="text/javascript">

    var imageBase64;
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#imgSelected').attr('src', e.target.result);   
        imageBase64 = e.target.result;
        $('#imgSelected').show(1000);
        //console.log(imageBase64);        
    };

</script>
</head>

<body>
  <div>
    <header>
      <h1>Uploading image to base64</h1>
    </header>

    <div>
       <input type='file' name="image"/>
       </br><img id="imgSelected" src="#" style="width: 50%; display: none">
    </div>

    <footer>
     <p>&copy; Copyright  by Carlos Eduardo Domingues</p>
    </footer>
  </div>
</body>
</html>
