<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			var questions;
			var quantQuestions = 0;
			var answers = [];
			item = getParametersUrl();
			var qr_code = item.qr_code;
			var i = 1;
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");
					
				//progress bar events
				questions = getCheckListQuestions("{{ csrf_token }}", "{% url 'equipmentQuestionsChecklist' %}", qr_code);
				$('.checkYes').click(function(){
					saveQuestion(true);
				});		
				$('.checkNo').click(function(){
					saveQuestion(false);
				});		

			});

			//This function saves the question in the array. In addition, go to the next question
			function saveQuestion(answer){

				answers.push({"id": questions[i-1].id, "answer": answer});

				quantQuestions += 100 / (questions.length + 1);
				if (i < questions.length) { //showQuestions
					showQuestion(questions[i]);
				}else if (i == questions.length){ //get engine hours
					$("#question").html("{% trans 'Engine hours'%}</br><input type='number' id='engine_hours' required />");
					$("#checkListBtns").html("<input type='button' class='checkYes' id='saveBtn' value='{% trans 'Save' %}' />");
					$("#saveBtn").click(function(){
						
						if($("#engine_hours").val() != "" ){
							$('.progress-bar').css('width', 100 +'%').attr('aria-valuenow', 100); 
							$('.progress-bar').html(100 + '%');
							var saveSucess = saveCheckList("{{ csrf_token }}", "{% url 'storeChecklistAnswers' %}", item.qr_code, answers);
							if (true) {
								$("#checkList").html("{% trans 'Checklist Saved' %}");
							}
						}else{
							alert("{% trans 'Engine hours required'%}");
						}
					});
				}
				i++;
				$('.progress-bar').css('width', quantQuestions +'%').attr('aria-valuenow', quantQuestions); 
				$('.progress-bar').html(quantQuestions.toFixed(0) + '%'); 	
			}

		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div class="namePage">
					{% trans 'HC CHECKLIST' %}
				</div>
				<br />

					<div class="row">
						<div id="progressCheckList" class="progress progress-striped active">
					        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> 
					        	0%
					        </div>
					    </div>
					</div>
				<div id="checkListContent">
					<div class="row">
						<div id="checkList" class="col-xs-12 col-md-12">
						<p id="question">
							
						</p>
					</div>
					<div id="checkListBtns" class="row">
								
						<div class="col-xs-6 col-md-6">
							<input type="button" class="checkYes" value="{% trans 'OK'%}" />
						</div>
					
						<div class="col-xs-6 col-md-6">
							<input type="button" class="checkNo" value="{% trans 'NOT OK'%}" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="foot"></footer>
	</body>
</html>
