<!DOCTYPE html>
<html lang="en">
	<head>
		 {% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleManager.css' %}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");
				
				loadEventsFleet();// Load functions from the script.js
				showTractors(0);//show Green Tractors
			});
		</script>
		<style>
			
		</style>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="namePage">
				FLEET	
			</div>	
			<div id="containerFleet">
				
				  <ul class="nav nav-pills nav-justified" id="menu">
				  	  <li class="active" value="0" id="greenTab" ><a data-toggle="pill" href="#goodTab">GOOD CONDITION</a></li>
				  	  <li id="yellowTab" value="1"><a data-toggle="pill" href="#serviceTab">NEEDING ATTENTION</a></li>
				  	  <li id="redTab"  value="2" ><a data-toggle="pill" href="#brokenTab">BROKEN</a></li>
				  	  <li id="grayTab"  value="3"><a data-toggle="pill" href="#repairTab">OUT FOR REPAIR</a></li>
				   </ul>
				   
				   <div class="tab-content" id="tractorContent">
					    <div id="goodTab" class="tab-pane fade in active">
					      
					    </div>
					    <div id="serviceTab" class="tab-pane fade ">
					    
					    </div>
					    <div id="brokenTab" class="tab-pane fade">
					      
					    </div>
					    <div id="repairTab" class="tab-pane fade">
					     
					    </div>
				    </div>  
				    <button id="viewMore" type="button" class="btn btn-info btn-block">View More</button>     
				  </div>	
				  
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>
	<script>
		
	</script>
</html>
