<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       	Remove this if you use the .htaccess -->
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		{% load staticfiles %}
		{% load i18n %}
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleManager.css' %}">
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");
				

				$("form").submit(function(){

					var formOK = true;

					if($('select[name=manager]').val() == ""){
    					if(formOK == true)						
    						$('select[name=manager]').focus()
						$('select[name=manager]').css('box-shadow', '0px 0px 10px red');
						formOK = false;
					}else{
						$('select[name=manager]').css('box-shadow', '1px 1px 5px 0px');
					}
    				if($('input[name=first_name]').val() == ""){
    					if(formOK == true)						
    						$('input[name=first_name]').focus()
						$('input[name=first_name]').css('box-shadow', '0px 0px 10px red');
						formOK = false;
					}else{
						$('input[name=first_name]').css('box-shadow', '1px 1px 5px 0px');
					}
					if($('input[name=last_name]').val() == ""){			
						if(formOK == true)			
							$('input[name=last_name]').focus()
						$('input[name=last_name]').css('box-shadow', '0px 0px 10px red');
						formOK = false;
					}else{
						$('input[name=last_name]').css('box-shadow', '1px 1px 5px 0px');
					}
					if($('input[name=username]').val() == ""){		
						if(formOK == true)				
							$('input[name=username]').focus()
						$('input[name=username]').css('box-shadow', '0px 0px 10px red');
						formOK = false;
					}else{
						$('input[name=username]').css('box-shadow', '1px 1px 5px 0px');
					}
					if($('input[name=password]').val() == ""){	
						if(formOK == true)
							$('input[name=password]').focus()					
						$('input[name=password]').css('box-shadow', '0px 0px 10px red');
						formOK = false;
					}else{
						$('input[name=password]').css('box-shadow', '1px 1px 5px 0px');
					}

				    return formOK;
				});
			});


		</script>
	</head>
	<body>
		<header id="head"></header>
		<div id="contentForm">
			<form method="POST" action="." id="formPage">
				{% csrf_token %}
				Manager: * {{ form1.manager }}
				<br>
				First Name: * {{ form.first_name }}
				<br>
				Last name: * {{ form.last_name }}
				<br>
				Username: * {{ form.username }}
				<br>
				Password: * {{ form.password }}
				<br>
				Company id: {{ form1.company_id }}
				<br>
				Language: {{ form1.language }}
				<br>
				QrCode: {{ form1.qr_code }}
				<br>
				Start date: {{ form1.start_date }}
				<br>
				Hour cost: {{ form1.hour_cost }}
				<br>
				Permission Level: {{ form1.permission_level }}
				<br>
				Photo: {{ form1.photo }}
				<br>		
				
				<input type="submit" id="saveForm" value="{% trans 'SAVE' %}"/>
			</form>
		</div>
		<footer id="foot"></footer>
	</body>
</html>