<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#headHome").load("{% url 'headerHome' %}");
			});
		</script>
	</head>
	<body>
		<input type="hidden" id="page" value="1">
		<header id="headHome"></header>
		<div class="row" id="driverMenu">
			<div class="btnHomeDriver">
				<a href="{% url 'time_keeper_records'%}">
				<input type="button" class="btnMain" value="TIMEKEEPER" id="btnTimerkeeper" />
				</a>
			</div>
			<div class="btnHomeDriver">
				<a href="{% url 'scanQRCodeManager' %}?url={% url 'checklistManager' %}">
				<input type="button" class="btnMain" value="CHECKLIST" id="btnChecklist" />
				</a>
			</div>
			<div class="btnHomeDriver">
				<a href="{% url 'createTaskManager'%}">
				<input type="button" class="btnMain" value="TASKFLOW" id="btnTaskflow" />
				</a>
			</div>
			<div class="btnHomeDriver">
				<a href="{% url 'scheduleManager'%}">
				<input type="button" class="btnMain" value="SCHEDULER" id="btnScheduler" />
				</a>
			</div>
			<!--<div class="btnHomeDriver">-->
				<!--<a href="{% url 'scanQRCodeManager'%}?url={% url 'equipmentManager' %}">-->
				<!--&lt;!&ndash;<a href="{% url 'equipmentManager'%}">&ndash;&gt;-->
				<!--<input type="button" class="btnMain" value="EQUIPMENT" id="btnEquipment" />-->
				<!--</a>-->
			<!--</div>-->
		</div>
	</body>
	<div style="height: 180px; ">
		<img src="{% static 'img/backgroundFooter.png' %}" style=" bottom : 0; margin-top : 20px;  background-size: 100% 210px; height: 25%;
		width: 100%;
		position: fixed;">
	</div>
</html>
