<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>CCC</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0,  minimum-scale=1, user-scalable=no">
		<!--IMPORTS-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-blue.min.css" />
		<link href="{% static 'fullcalendar/fullcalendar.css' %}" rel="stylesheet">
		<link href="{% static 'fullcalendar/fullcalendar.print.css' %}" rel="stylesheet" media="print">
		<script src="{% static 'fullcalendar/moment.min.js' %}"></script>
		<script src="{% static 'fullcalendar/jquery.min.js' %}"></script>
		<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" />-->
		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.print.css" />-->

		<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js'></script>-->
		<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css'></script>-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.print.css"></script>-->

		<!--<script src='http://fullcalendar.io/js/fullcalendar-2.6.1/lib/moment.min.js'></script>-->
<!--<script src="http://fullcalendar.io/js/fullcalendar-2.6.1/lib/jquery-ui.custom.min.js"></script>-->
<!--<script src='http://fullcalendar.io/js/fullcalendar-2.6.1/fullcalendar.min.js'></script>-->
		<script type="text/javascript">
      // Your Client ID can be retrieved from your project in the Google
      // Developer Console, https://console.developers.google.com
      var CLIENT_ID = '601669866110-o6qh9ub7f2qabvss950j0j02nrn409dd.apps.googleusercontent.com';

      var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];


      /**
       * Check if current user has authorized this application.
       */
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
          }, handleAuthResult);
      }

      /**
       * Handle response from authorization server.
       *
       * @param {Object} authResult Authorization result.
       */
      function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          authorizeDiv.style.display = 'none';
          loadCalendarApi();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
          authorizeDiv.style.display = 'inline';
        }
      }

      /**
       * Initiate auth flow in response to user clicking authorize button.
       *
       * @param {Event} event Button click event.
       */
      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }



    </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>
	</head>
	<script>
		function detectPage(){
			if($("#page").val() == 1)
				$("a:odd").attr("href", "{% url 'profileManager' %}");
			else
				$("a:odd").attr("href", "#");
		}
		var globalStart = 0;
		var globalEnd = 0;


		$(document).ready(function() {
		$("#btnFilter").click(function() {
					$('#calendar').fullCalendar('refetchEvents');
				});



		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '2016-03-13',
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				document.getElementById('addNewEventDialog').showModal();
				<!--var title = prompt('Add Activity:');-->
				globalStart = start;
				globalEnd = end;

				<!--addToCal-->
				<!--var eventData;-->
				<!--if (title) {-->
					<!--eventData = {-->
						<!--title: title,-->
						<!--start: start,-->
						<!--end: end-->
					<!--};-->
					<!--$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true-->
				<!--}-->
				<!--$('#calendar').fullCalendar('unselect');-->
			},
			editable: true,
			defaultView : 'agendaWeek',
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'Harvesting',
					start: '2016-03-13',
					backgroundColor: 'grey'
				},
				{
					title: 'Harvesting',
					start: '2016-03-15T02:00:00',
					end: '2016-03-15T16:00:00',
					backgroundColor: 'grey'
				},
				{
					title: 'Harvesting',
					start: '2016-03-13',
					start: '2016-03-16',
				},
				{
					id: 999,
					title: 'Weeding',
					start: '2016-03-15T06:00:00',
					start: '2016-03-15T16:00:00'
				},
				{
					id: 999,
					title: 'Weeding',
					start: '2016-03-13T16:00:00'
				},
				{
					title: 'Harvest',
					start: '2016-03-13',
					start: '2016-03-16',
					backgroundColor: 'grey'
				},
				{
					title: 'Inspecting',
					start: '2016-03-17T10:30:00',
					end: '2016-01-16T12:30:00',
					backgroundColor: 'grey'
				},
				{
					title: 'Laying Plastic',
					start: '2016-03-17T12:00:00'
				},
				{
					title: 'Planting',
					start: '2016-03-12T14:30:00',
					backgroundColor: 'grey'
				},
				{
					title: 'Weeding',
					start: '2016-03-12T17:30:00',
					backgroundColor: 'grey'
				},
				{
					title: 'Weeding',
					start: '2016-03-18T20:00:00'
				},
				{
					title: 'Cooling',
					start: '2016-03-18T07:00:00'
				}
			]
	});

	$('.fc-center').html('March');
	$('.fc-center').css('font-size', '32px');
	$('.fc-center').css('margin-top', '10px');

		(function() {
    'use strict';
    var dialogButton = document.querySelector('.dialog-button');
    var dialog = document.querySelector('#dialog');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    dialogButton.addEventListener('click', function() {
       dialog.showModal();
    });
    dialog.querySelector('button:not([disabled])')
    .addEventListener('click', function() {
      dialog.close();
    });
  }());
  <!--(function() {-->
    <!--'use strict';-->
				<!--var addDialog = document.querySelector('#addDialog');-->
				<!--$('.add-activity').click(function() {-->
					<!--addDialog.showModal();-->
				<!--});-->
				<!--}());-->
  <!--(function() {-->
    <!--'use strict';-->
    <!--var dialogButton = document.querySelector('.add-activity');-->
    <!--var dialog = document.querySelector('#addDialog');-->
    <!--if (! dialog.showModal) {-->
      <!--dialogPolyfill.registerDialog(dialog);-->
    <!--}-->
    <!--dialogButton.addEventListener('click', function() {-->
       <!--dialog.showModal();-->
    <!--});-->
    <!--dialog.querySelector('button:not([disabled])')-->
    <!--.addEventListener('click', function() {-->
      <!--dialog.close();-->
    <!--});-->
  <!--}());-->
		$('#shareList').hide();
		$('#shareLocation').hide();
		$('#fieldDrop').hide();
		$('#blockDrop').hide();
		$('#countyDrop').hide();
		$('#activityDrop').hide();
		$('#setActivity').hide();

		$('#people').click(function() {
			$('#shareList').slideToggle();
		});
		$('#fieldList').click(function() {
			$('#fieldDrop').slideToggle();
		});
		$('#blockList').click(function() {
			$('#blockDrop').slideToggle();
		});
		$('#countyList').click(function() {
			$('#countyDrop').slideToggle();
		});
		$('#activityList').click(function() {
			$('#activityDrop').slideToggle();
		});
		$('#location').click(function() {
			$('#shareLocation').slideToggle();
		});
		$('#activity').click(function() {
			$('#setActivity').slideToggle();
		});

		$("#addToCal").click(function () {
					var title = "harvest";
					closeThis2();
					var eventData;
				if (title) {
					eventData = {
						title: title,
						start: globalStart,
						end: globalEnd
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
				});

		});
	</script>
	<script>
	function save() {
	 	var name = $('#sample3').val();
		$('#shareList').append('<li class="mdl-list__item">'+
						'<span class="mdl-list__item-primary-content">'+
						'<i class="material-icons mdl-list__item-icon">person</i> '+ name +
					'</span>'+
					  '</li>');
	}
	function closeThis(){
		var dialog = document.querySelector('#addDialog');
		dialog.close();
	}function closeThis2(){
		var dialog = document.querySelector('#addNewEventDialog');
		dialog.close();
	}
	function showmap(){
		$('#map').css("visibility", "visible");
		$('#map').css("display", "block");
		hidecalendar();
	}
	function hidemap(){
		$('#map').css("visibility", "invisible");
		$('#map').css("display", "none");
	}
	function showcalendar(){
		$('#calendar').css("visibility", "visible");
		$('#calendar').css("display", "block");
		hidemap();
	}

	function showDialog(){
		var dialog = document.querySelector('#addDialog');
		dialog.show();
	}

	function hidecalendar(){
		$('#calendar').css("visibility", "invisible");
		$('#calendar').css("display", "none");
	}
      // This example creates a simple polygon representing the Bermuda Triangle.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 36.329375, lng: -121.270572},
          mapTypeId: google.maps.MapTypeId.SATELLITE
        });

        // Define the LatLng coordinates for the polygon's path.
        var triangleCoords = [
          {lat: 36.320458, lng: -121.275649},
          {lat: 36.322432, lng: -121.271992},
          {lat: 36.319521, lng: -121.269413},
          {lat: 36.317548, lng:-121.273108},
          {lat: 36.320458, lng: -121.275649},
        ];

        var triangleCoords2 = [
          {lat: 36.324324, lng: -121.268378},
          {lat: 36.322432, lng: -121.271992},
          {lat: 36.319521, lng: -121.269413},
          {lat: 36.321486, lng: -121.265885},
          {lat: 36.324324, lng: -121.268378},
        ];

        var triangleCoords3 = [
          {lat: 36.319499, lng: -121.269450},
          {lat: 36.321557, lng: -121.265845},
          {lat: 36.318531, lng: -121.263206},
          {lat: 36.316526, lng: -121.266854},
          {lat: 36.319499, lng: -121.269450},
        ];
        var triangleCoords4 = [
          {lat: 36.317459, lng: -121.273141},
          {lat: 36.319517, lng: -121.269493},
          {lat: 36.3165261, lng: -121.266918},
          {lat: 36.314416, lng: -121.270566},
          {lat: 36.317459, lng: -121.273141},
        ];


        // Construct the polygon.
        var field1 = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#36D844',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#36D844',
          fillOpacity: 0.35
        });
        var field2 = new google.maps.Polygon({
          paths: triangleCoords2,
          strokeColor: '#36D844',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#36D844',
          fillOpacity: 0.35
        });
        var field3 = new google.maps.Polygon({
          paths: triangleCoords3,
          strokeColor: '#36D844',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#36D844',
          fillOpacity: 0.35
        });
        var field4 = new google.maps.Polygon({
          paths: triangleCoords4,
          strokeColor: '#CCCCCC',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#CCCCCC',
          fillOpacity: 0.35
        });
        field1.setMap(map);
        field2.setMap(map);
        field3.setMap(map);
        field4.setMap(map);
        var contentString = '<p><b>1. Sprayed</b> 3/1/2016, 8:00am</p>'+
        '<p><b>2. Thinned</b> 3/5/2016 8:00am</p>';
        var contentString2 = '<p><b>Ranch A, Field B, Block 2</b></p>'+
        '<p><b>Organic</b></p>'+
        '<p><b>Broccoli</b></p>'+
        '<p><b>1. Sprayed</b> 3/1/2016, 8:00am</p>'+
        '<button onclick="showDialog()" class="add-activity mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">'+
  		'<i class="material-icons">add</i>'+
		'</button>';

        var contentString3 = '<p><b>Ranch A, Field B, Block 1</b></p>'+
        '<p><b>Organic</b></p>'+
        '<p><b>Broccoli</b></p>'+
        '<p><b>1. Sprayed</b> 3/1/2016, 6:00am</p>'+
        '<button onclick="showDialog()" class="add-activity mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">'+
  		'<i class="material-icons">add</i>'+
		'</button>';

 var contentString4 = '<p><b>Ranch A, Field B, Block 3</b></p>'+
        '<p><b>Organic</b></p>'+
        '<p><b>Broccoli</b></p>'+
        '<p><b>1. Sprayed</b> 3/1/2016, 5:00am</p>'+
        '<button onclick="showDialog()" class="add-activity mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">'+
  		'<i class="material-icons">add</i>'+
		'</button>';


        var image = '{% static 'imgSmall/2-in-circle-md.png' %}';
        var image2 = '{% static 'imgSmall/one-in-circle-md.png' %}';
        var infowindow = new google.maps.InfoWindow({
			content: contentString,
			maxWidth: 200
		  });
		  var infowindow2 = new google.maps.InfoWindow({
			content: contentString2,
			maxWidth: 200
		  });
		  var infowindow3 = new google.maps.InfoWindow({
			content: contentString3,
			maxWidth: 200
		  });
		  var infowindow4 = new google.maps.InfoWindow({
			content: contentString4,
			maxWidth: 200
		  });
	  var beachMarker = new google.maps.Marker({
		position: {lat: 36.317070, lng: -121.270007},
		map: map,
		icon: image
	  });
	  var beachMarker2 = new google.maps.Marker({
		position: {lat: 36.319971, lng: -121.272669},
		map: map,
		icon: image2
	  });
	  var beachMarker3 = new google.maps.Marker({
		position: {lat: 36.321912, lng: -121.268939},
		map: map,
		icon: image2
	  });
	  var beachMarker4 = new google.maps.Marker({
		position: {lat: 36.318871, lng: -121.266367},
		map: map,
		icon: image2
	  });
	   beachMarker.addListener('click', function() {
    infowindow.open(map, beachMarker);
  });
  beachMarker2.addListener('click', function() {
    infowindow2.open(map, beachMarker2);
  });
  beachMarker3.addListener('click', function() {
    infowindow3.open(map, beachMarker3);
  });
  beachMarker4.addListener('click', function() {
    infowindow4.open(map, beachMarker4);
  });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8hP911Y1WH9Wkx2uCWvqdIo1qOMZdfk4&callback=initMap">
    </script>
	<style>

		#people{
		    align-content: center;
			text-align: center;
			background: white;
			height: 50px;
			vertical-align: middle;
			line-height: 48px;
			box-shadow: 2px 2px 2px gray;
		}
		.dropdown{
		    align-content: center;
			text-align: center;
			background: white;
			height: 50px;
			vertical-align: middle;
			line-height: 48px;
			box-shadow: 2px 2px 2px gray;
		}
		ul {
			background: #FDFDFD;
		}
		#shareList {
			background: #FFF5FE;
		}

	</style>

	</head>
	<body>

		<input type="hidden" id="page" value="1">
			<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  				<header class="mdl-layout__header">
    			<div class="mdl-layout__header-row">
      <!-- Title -->
      			<span class="mdl-layout-title">CC Coordinate</span>

    			</div>

    <!-- Tabs -->
				<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
				  <a href="#fixed-tab-1" onclick="showcalendar()" class="mdl-layout__tab is-active">Calendar</a>
				  <a href="#fixed-tab-2" onclick="showmap()" class="mdl-layout__tab">Map</a>
				</div>

  			</header>
			  <div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Filter</span>
				  <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>

  </thead>
					  <tbody>


	<div class="dropdown" id="countyList"><b>+ COUNTY</b>
					  </div>

				  <ul id="countyDrop" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
        <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Monterey
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-2">
        <input type="checkbox" id="list-checkbox-2" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Santa Cruz
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-3">
        <input type="checkbox" id="list-checkbox-3" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						San Benito
					  </span>
					  </li>
					</ul>

		<div class="dropdown" id="fieldList"><b>+ FIELD</b>
					  </div>

				  <ul id="fieldDrop" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-4">
        <input type="checkbox" id="list-checkbox-4" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Skople
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-5">
        <input type="checkbox" id="list-checkbox-5" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Home Ranch
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-6">
        <input type="checkbox" id="list-checkbox-6" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Fanoe
					  </span>
					  </li>
					</ul>
	<div class="dropdown" id="blockList"><b>+ BLOCK</b>
					  </div>

				  <ul id="blockDrop" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-7">
        <input type="checkbox" id="list-checkbox-7" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Block 1
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-8">
        <input type="checkbox" id="list-checkbox-8" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Block 2
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-9">
        <input type="checkbox" id="list-checkbox-9" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Block 3
					  </span>
					  </li>
					</ul>
	<div class="dropdown" id="activityList"><b>+ ACTIVITY</b>
					  </div>

				  <ul id="activityDrop" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-10">
        <input type="checkbox" id="list-checkbox-10" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Harvesting
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-11">
        <input type="checkbox" id="list-checkbox-11" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Thinning
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-16">
        <input type="checkbox" id="list-checkbox-16" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Spraying
					  </span>
					  </li>
					</ul>


  </tbody>
</table>
				  <span class="mdl-layout-title">Share</span>

					  <div id="people"><b>PEOPLE</b>
					  </div>

				  <ul id="shareList" class="demo-list-icon mdl-list">
					  <li>
						  <button style="left: 36%;background:#FF44F5;" class="dialog-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
							  <i class="material-icons">add</i>
							</button>
					  </li>
					  <li class="mdl-list__item">
						<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-icon">person</i>
						Bryan Cranston
					</span>
					  </li>
					  <li class="mdl-list__item">
						<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-icon">person</i>
						Aaron Paul
					  </span>
					  </li>
					  <li class="mdl-list__item">
						<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-icon">person</i>
						Bob Odenkirk
					  </span>
					  </li>
					</ul>
			  </div>

			  <main class="mdl-layout__content">
				<section class="mdl-layout__tab-panel is-active"id="fixed-tab-1">
				  <div class="page-content">

				  </div>
				</section>
				<section class="mdl-layout__tab-panel" id="fixed-tab-2">
				  <div class="page-content"></div>
				</section>
				<section class="mdl-layout__tab-panel" id="fixed-tab-3">
				  <div class="page-content"></div>
				</section>
				  <div id="calendar"></div>
			  </main>

				<!--<div id="calendar">-->
				<!--<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=49bv3623uvaikrptcbvq0qvo1s%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
				<!--</div>-->
					<div style="height:100%;visibility:hidden;display:none;" id="map" ></div>
			</div>

	<dialog id="dialog" class="mdl-dialog">
  <h3 class="mdl-dialog__title">SHARE</h3>
  <div class="mdl-dialog__content">
<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Name</label>
  </div>
</form>
	  <form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample2">
    <label class="mdl-textfield__label" for="sample2">Organization</label>
  </div>
</form>
	  <form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="sample4">
    <label class="mdl-textfield__label" for="sample4">Email</label>
    <span class="mdl-textfield__error">Please enter a valid email.</span>
	  <div style="margin-top:30px;" id="location"><b>+ Locations</b>
					  </div>

				  <ul id="shareLocation" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-12">
        <input type="checkbox" id="list-checkbox-12" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Santa Cruz
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-13">
        <input type="checkbox" id="list-checkbox-13" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						San Benito
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-14">
        <input type="checkbox" id="list-checkbox-14" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Monterey
					  </span>
					  </li>
					</ul>
  </div>
</form>
  </div>
  <div class="mdl-dialog__actions">
    <button onclick="save()" type="button" class="mdl-button">SAVE</button>
  </div>
</dialog>

	<div class="modal fade" id="fullCalModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content modalSchedule">
							<button type="button" class="closeSchedule" data-dismiss="modal"></button>
							<span class="modal-title" id="titleModalSchedule">{% trans 'TASK INFORMATION' %}</span>
							<div class="modal-body infoSchedule">
								{% trans 'TASK:' %} <span id="modalTitle" class="infoModalSchedule"></span>
								<br>
								{% trans 'DESCRIPTION:' %} <span id="modalDescription" class="infoModalSchedule"></span>
								<br>
								{% trans 'FIELD:' %} <span id="modalField" class="infoModalSchedule"></span>
								<br>
								{% trans 'MACHINE:' %} <span id="modalMachine" class="infoModalSchedule"></span>
								<br>
								{% trans 'IMPLEMENT:' %} <span id="modalImplement" class="infoModalSchedule"></span>
								<br>
							</div>

							<span id="btnStartTaskScheduler"></span>

							<div class="both"></div>
						</div>
					</div>
				</div>

	<dialog style="margin-top: 150px;" class="mdl-dialog" id="addDialog">
    <div class="mdl-dialog__content">
        <p>

		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="date" id="sample5">
			<label class="mdl-textfield__label" for="sample5">Date</label>
		  </div>
		</form>
		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="time" id="sample6">
			<label class="mdl-textfield__label" for="sample6">Time</label>
		  </div>
		</form>

		<div style="margin-top:30px;" id="activity"><b>+ Activity</b>
					  </div>

				  <ul id="setActivity" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-17">
        <input type="checkbox" id="list-checkbox-17" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Spraying
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-18">
        <input type="checkbox" id="list-checkbox-18" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Thinning
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-19">
        <input type="checkbox" id="list-checkbox-19" class="mdl-checkbox__input" checked />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Harvest
					  </span>
					  </li>
					</ul>

		</p>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button type="button" class="mdl-button">Add</button>
        <button onclick="closeThis()" type="button" class="mdl-button">Cancel</button>
    </div>
</dialog>

	<dialog style="margin-top: 150px;" class="mdl-dialog" id="addNewEventDialog">
    <div class="mdl-dialog__content">
        <p>

		<!--<form action="#">-->
		  <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
			<!--<input class="mdl-textfield__input" type="date" id="sample7">-->
			<!--<label class="mdl-textfield__label" for="sample5">Date</label>-->
		  <!--</div>-->
		<!--</form>-->
		<!--<form action="#">-->
		  <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
			<!--<input class="mdl-textfield__input" type="time" id="sample8">-->
			<!--<label class="mdl-textfield__label" for="sample6">Time</label>-->
		  <!--</div>-->
		<!--</form>-->

		<div style="margin-top:30px;" id="activity2"><b>+ Activity</b>
					  </div>

				  <ul id="setActivity2" class="demo-list-icon mdl-list">

					  <li class="mdl-list__item">
						 <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-30">
        <input type="checkbox" id="list-checkbox-30" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Spraying
					</span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-31">
        <input type="checkbox" id="list-checkbox-31" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Thinning
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-32">
        <input type="checkbox" id="list-checkbox-32" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Harvest
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-33">
        <input type="checkbox" id="list-checkbox-33" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Ground Prep
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-34">
        <input type="checkbox" id="list-checkbox-34" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Planting
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-35">
        <input type="checkbox" id="list-checkbox-35" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Weeding
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-36">
        <input type="checkbox" id="list-checkbox-36" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Laying Plastic
					  </span>
					  </li>
					  <li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-37">
        <input type="checkbox" id="list-checkbox-37" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Packing
					  </span>
					  </li><li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-38">
        <input type="checkbox" id="list-checkbox-38" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Cooling
					  </span>
					  </li><li class="mdl-list__item">
						  <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-39">
        <input type="checkbox" id="list-checkbox-39" class="mdl-checkbox__input"  />
      </label>
    </span>
						<span class="mdl-list__item-primary-content">
						Inspecting
					  </span>
					  </li>
					</ul>

		</p>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button type="button" id="addToCal" class="mdl-button">Add</button>
        <button onclick="closeThis2()" type="button" class="mdl-button">Cancel</button>
    </div>
</dialog>
	</body>


</html>
