<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/equipStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");
				getLocation();				
			});
		</script>
		<style>
		  
		</style>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content">
				<div id="namePage" style="width: 200px">
					EMPLOYEE PROFILE
				</div>
				<div id="containerProfile">
					<div id="userAllInfo">			
						<div class="row" id="rowUser">
							<div class="col-xs-3 col-md-3" id="userImage">
								<img id="userPicture" src="{% static 'img/user.png' %}" />
							</div>
							<div class="col-xs-3 col-md-3" id="userInfo">
								<ul class="profileList">
									<li>First Name: <span id="firstName"><strong>Robert</strong></span></li>
									<li>Last Name: <span id="lastName"><strong>Wall</strong></span></li>
									<li>EID: <span id="userID"><strong>X0918</strong></span></li>
								</ul>
							</div>		
						</div>				
						<div class="row" id="rowInfo" >
							<div class="col-xs-3 col-md-3" id="addInfo">
								<ul class="profileList">
									<li>QR Recal: <span id="QR"><strong>12345</strong></span></li>
									<li>Hire Date: <span id="hiteDate"><strong>10/11/2007</strong></span></li>
									<li>Ternure: <span id="ternure"><strong>7,5 years</strong></span></li>
								</ul>
							</div>
							<div class="col-xs-3 col-md-3" id="addInfo">
								<ul class="profileList">
									<li>On-Time Record: <span id="timeRecord"><strong>91%</strong></span></li>
									<li>Utilization: <span id="utilization"><strong>79%</strong></span></li>
									<li>Hours Today: <span id="hoursToday"><strong>6,23</strong></span></li>
									<li>Hours this Week: <span id="hoursWeek"><strong>38,23</strong></span></li>
								</ul>
							</div>		
						</div>
					</div>
					<strong>LOCATION:</strong>
					<div class="divDown">
						<div class="col-xs-6 col-md-6" style="padding: 0px">
							<div class="map" id="mapholder"></div>
						</div>
						<div class="col-xs-3 col-md-3" id="colStatus">
							<div id="taskProfile">
								CURRENTLY: 
							</div>
							<div id="infoEquipment">
								<ul class="profileList">
									<li>Implement:</li>
									<li ><span id="implementName">20' Disk</span><br /><br /></li>
									<li>Field:</li>
									<li><span id="fieldID">01324323</span><br /><br /></li>
									<li>Task:</li>
									<li><span id="taskName">Disking</span><br /><br /></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-3 col-md-3" id="colStatus">
							NOTES:
							<textarea id="notes" rows="6" cols="20" form="notesSubmit" id="notes"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div id="clearBoth"></div>
		</div>
		<footer id="foot"></footer>
	</body>

</html>
