<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="//code.jquery.com/jquery.js"></script>
		<script src='{% static "fullcalendar/lib/moment.min.js" %}'></script>
		<script src='{% static "fullcalendar/fullcalendar.min.js" %}'></script>
		<link href='{% static "fullcalendar/fullcalendar.css" %}' rel='stylesheet' />
		<!-- Don't required <link href='../fullcalendar.min.css' rel='stylesheet' media='print' />-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.8.4.custom.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/ui.dropdownchecklist.themeroller.css' %}">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="{% static 'js/jquery-ui-1.8.13.custom.min.js' %}"></script>
   		<script src="{% static 'js/ui.dropdownchecklist-1.4-min.js' %}"></script>
		<script>
			//var source = 'cal.json'; We can use a variable in events, to fill the calendar
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");

				$("#btnFilter").click(function() {
					$('#cal').fullCalendar('refetchEvents');
				});

				var fields_id = []; // Stores id's of the fields
				getAllFields("{{ csrf_token}}", "{% url 'getAllFields' %}");
				getFieldsValues();

				// Get All fields to put in the dropdown
				function getAllFields(token, url) {
					$.ajax({
						method : "POST",
						url : url,
						async: false,
						data : {
							"csrfmiddlewaretoken" : token,
						},
						datatype : "json",
						success : function(data, status, xhr) {

							if (data.success){
								for(var i = 0; i < data.fields.length; i++){
									$("#field").append("<option value='" + data.fields[i].id +"'>" + data.fields[i].name + "</option>");
								}
							}
							
						}
					});
				}

				// Get ids of the fields
				function getFieldsValues(){
				    $("#field").dropdownchecklist({ 
				    	maxDropHeight: 60,
				        forceMultiple: true, 
				    	onComplete: function(selector) {
				    		fields_id = [];
				    		var values	= [];
	        			  	for( i=0; i < selector.options.length; i++ ) {
	        			  		//console.log(values[i]);
	            		    	if (selector.options[i].selected && (selector.options[i].value != "")) {
	                	          	if ( values[i] == undefined ) {
	                		          	values[i]= selector.options[i].value;
	             						fields_id[i] = values[i]; 
	                		        }
	            			  	}
	       			    	}
	       			    	console.log(fields_id);
    			  	} });    
				}

				$('#cal').fullCalendar({
					eventSources : [{
						events : function(start, end, timezone, callback) {
							$.ajax({
								url : "{% url 'switchTaskManager'%}",
								dataType : 'json',
								data : {
									start : start.format(),
									end : end.format(),
									search : $("#filter").val(),
									condition : $("#filterStatus").val()
								},
								success : function(doc) {
									callback(doc);
								}
							});
						}
					}],
					select : function(start, end, allDay) {
						//Set task day
						$('#date').val(start.format('YYYY-MM-DD'));
						//Set start time task
						$('#time').val(start.format('HH:mm:ss'));
						//Set duration
						$('#hours_prediction').val(moment.duration(end.diff(start)).asHours());
						$('#timeTab').addClass("tabSucess");
						
						$('#createTaskModal').modal();
						if (0) {
							$('#cal').fullCalendar('renderEvent', {
								title : $("#employee option:selected").text(),
								start : start,
								end : end,
							}, true // make the event "stick"
							);
							/*$.ajax({
							 url: "",
							 dataType: 'json',
							 data: {
							 start: start.format(),
							 end: end.format(),
							 condition: $("#filter").val()
							 },
							 success: function(doc) {

							 var events = [];

							 callback(doc);
							 }
							 });*/
						}
						$('#cal').fullCalendar('unselect');
					},
					selectable : true,
					selectHelper : true,

					header : {
						left : '',
						center : 'prev title next',
						right : 'month,agendaWeek,agendaDay'
					},
					defaultView : 'agendaWeek',
					height : 650,
					eventClick : function(event, jsEvent, view) {
						console.log(event);
						$('#modalTitle').html(event.category);
						$('#modalDescription').html(event.description);
						$('#modalField').html(event.field);
						$('#modalMachine').html(event.machine);
						$('#modalImplement').html(event.implement);
						//$('#taskDuration').html(event.taskDuration);
						if (event.status == 2) {
							$('#btnStartTaskScheduler').html(' <a id="eventUrl" href="{% url "startTask" %}?task_id=' + event.task_id + '" >' + '<button class="btn btn-primary" id="btnAprove">' + '{% trans "Start" %}' + '</button> </a>');
						} else {
							$('#btnStartTaskScheduler').html(" ");
						}
						//$('#eventUrl').attr('href', );
						$('#fullCalModal').modal();
						return false;
					}
				});

				$("#createTaskModalBody").load("{% url 'templateCreateTaskManager' %}");
			});
		</script>
		<style>
		#scheduleFilters .ui-dropdownchecklist-item{
			text-align: left;
		}
		</style>
	</head>
	<body>
		<header id="head"></header>
		<div id="wrapper">
			<div id="content" style="color:black">
				<div class="namePageCenter">
					{% trans 'HC Scheduler' %}
				</div>
				<div id="scheduleFilters">
					<select id="filter">
						<option value="1">Task status</option>
						<option value="2">Field</option>
					</select>

					<select id="filterStatus">
						<option value="0">All</option>
						<option value="1">Pending</option>
						<option value="2">Approved</option>
						<option value="3">Denied</option>
						<option value="4">Ongoing</option>
						<option value="5">Paused</option>
						<option value="6">Finished</option>
					</select>

					<select id="field" multiple="multiple" placeholder="Text">     
					</select>

					<input type="button" value="Search" id="btnFilter" />
				</div>
				<div id="cal"></div>

				<div class="modal fade" id="createTaskModal" role="dialog">
					<div class="modal-dialog"  style="width: 1000px">
						<div class="modal-content modalSchedule">
							<button type="button" class="closeSchedule" data-dismiss="modal"></button>
							<span class="modal-title" id="titleModalSchedule">{% trans 'New Task' %}</span>
							<div id="createTaskModalBody" class="modal-body">

							</div>

							<div class="both"></div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="fullCalModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content modalSchedule">
							<button type="button" class="closeSchedule" data-dismiss="modal"></button>
							<span class="modal-title" id="titleModalSchedule">{% trans 'TASK INFORMATION' %}</span>
							<div class="modal-body infoSchedule">
								{% trans 'TASK:' %} <span id="modalTitle" class="infoModalSchedule"></span>
								<br>
								{% trans 'DESCRIPTION:' %} <span id="modalDescription" class="infoModalSchedule"></span>
								<br>
								{% trans 'FIELD:' %} <span id="modalField" class="infoModalSchedule"></span>
								<br>
								{% trans 'MACHINE:' %} <span id="modalMachine" class="infoModalSchedule"></span>
								<br>
								{% trans 'IMPLEMENT:' %} <span id="modalImplement" class="infoModalSchedule"></span>
								<br>
							</div>

							<span id="btnStartTaskScheduler"></span>

							<div class="both"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<footer id="foot"></footer>-->
	</body>
</html>