<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
		<!-- Include Required Prerequisites -->
		<!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>-->
		<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap-table.css' %}">-->
        <!--<script src="{% static 'css/bootstrap/js/bootstrap-table.js' %}"></script>-->
        <!--<script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1;
				var yyyy = today.getFullYear();

				if(dd<10) {
					dd='0'+dd
				}

				if(mm<10) {
					mm='0'+mm
				}

				today = mm+'/'+dd+'/'+yyyy;
				getReport("{{ csrf_token }}", "{% url 'timeKeeperDailyReport' %}", today, today);


			$('.input-daterange').datepicker({
				autoclose: true,
				todayHighlight: true
			});

			$(".search").keyup(function () {
					var searchTerm = $(".search").val();
					var listItem = $('.results tbody').children('tr');
					var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

				  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
						return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
					}
				  });

				  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
					$(this).attr('visible','false');
				  });

				  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
					$(this).attr('visible','true');
				  });

				  var jobCount = $('.results tbody tr[visible="true"]').length;
					$('.counter').text(jobCount + ' item');

				  if(jobCount == '0') {$('.no-result').show();}
					else {$('.no-result').hide();}
			});

			});
			function today() {
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!
				var yyyy = today.getFullYear();

				if(dd<10) {
					dd='0'+dd
				}

				if(mm<10) {
					mm='0'+mm
				}

				today = mm+'/'+dd+'/'+yyyy;
				return today;
			}
			function downloadCsv() {

				var start_date = document.getElementById("start").value;
				var end_date = document.getElementById("stop").value;
				if (start_date == "" || end_date == "") {
					start_date = today();
					end_date = today();
				}
				getCsv("{{ csrf_token }}", "{% url 'getCsv' %}", start_date, end_date);
			}

			function getCsv(token, url, start, end){
				$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "start": start, "end":end},
				datatype : "json",
				success : function(data, status, xhr) {
					var downloadLink = document.createElement("a");
					var blob = new Blob(["\ufeff", data]);
					var url = URL.createObjectURL(blob);
					downloadLink.href = url;
					var currentTime = new Date();
					downloadLink.download = "Timecards-"+currentTime+".csv";


					document.body.appendChild(downloadLink);
					downloadLink.click();
					document.body.removeChild(downloadLink);
					<!--$(function (e) {-->
						<!--window.open("data:text/csv;charset=utf-8," + data);-->
						<!--e.preventDefault();-->
					<!--});-->

				}
				});
			}


			function getPdf(token, url){
				$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token},
				datatype : "json",
				success : function(data, status, xhr) {
					var downloadLink = document.createElement("a");
					var blob = new Blob(["\ufeff", data]);
					var url = URL.createObjectURL(blob);
					downloadLink.href = url;
					downloadLink.download = "timecard.pdf";

					document.body.appendChild(downloadLink);
					downloadLink.click();
					document.body.removeChild(downloadLink);

				}
				});
			}
			function updateReport(){
				var start_date = document.getElementById("start").value;
				var end_date = document.getElementById("stop").value;
				getReport("{{ csrf_token }}", "{% url 'timeKeeperDailyReport' %}", start_date, end_date);
			}
			function getReport(token, url, start, end) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token, "start": start, "end":end},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data) {
						$('#results').html("");
						parsed_result = $.parseJSON(data.all_attendances);

						$(function () {
							var i = 1;
							$.each(parsed_result, function (i, item) {

								var start_hour = item.fields.hour_started;
								var end_hour = item.fields.hour_ended;
								var total_time = data.total_times[i];

								if(! start_hour){
									start_hour = 'N/A';
								}

								if(! end_hour){
									end_hour = 'N/A';
								}

								if(end_hour < start_hour) {
									total_time = 'N/A';
								}

								if(end_hour == 'N/A' || start_hour == 'N/A'){
									total_time = 'N/A';
								}

								var demo = "demo" + i;
								if(data.declines[i] == false){
									$('#results').append('<tr data-toggle="collapse" data-target=#'+demo+' class="accordion-toggle"> <td>' +
									data.qr_code[i] + '</td><td>' + data.all_names[i] + '</td><td>' + data.group_leader[i] + '</td><td>'+ data.crews[i]+'</td><td>' + data.job_codes[i] +'</td><td>' + data.ranches[i] +'</td><td>' + item.fields.date +'</td><td>' +
									start_hour + '</td><td>' + end_hour + '</td><td>' + total_time+'</td></tr>');
								} else {
									$('#results').append('<tr style="background:red;" data-toggle="collapse" data-target=#'+demo+' class="accordion-toggle"> <td>' +
									data.qr_code[i] + '</td><td>' + data.all_names[i] + '</td><td>' + data.group_leader[i] + '</td><td>'+ data.crews[i]+'</td><td>' + data.job_codes[i] +'</td><td>' + data.ranches[i] +'</td><td>' + item.fields.date +'</td><td>' +
									start_hour + '</td><td>' + end_hour + '</td><td>' + total_time+'</td></tr>');
								}


								i = i+1;

							});
						});


					}
				}
			});
		}

		</script>
	</head>
	<body>
		<header id="head"></header>
			<div id="wrapper">
				<div id="content">
					<div class="namePage">

					</div>
					<div id="report" style="margin: 10px; margin-top: 45px;">
					<!--<div class="col-lg-6">-->
					<div class="panel panel-default">
					<div class="panel-heading"><h3><img src="{% static 'imgSmall/iconTimekeeper.png' %}"/>
						{% trans 'HC TIMEKEEPER REPORT' %}</h3>
					</div>
					<div class="panel-body">
					<div class="input-daterange input-group" id="datepicker">
						<input type="text" id="start" class="input-sm form-control" name="start" />
						<span class="input-group-addon">to</span>
						<input type="text" id="stop" class="input-sm form-control" name="end" />

					</div>
						<div class="form-group pull-right"><input type="text" class="search form-control " placeholder="Search"/>

					<button style="float: right;margin-top: 15px; margin-bottom:10px;height:50px;font-size:15px;font-weight:600;background-color: #6DA8F5;" type="button" class="btn btn-default" onclick="updateReport()" ><span class="glyphicon glyphicon-refresh"></span>Update Report</button>



					<table class="table table-condensed results" id="report_table" style="border-collapse:collapse;">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Team Lead</th>
								<th>Team Name</th>
								<!--<th>Location</th>-->
								<th>Job Code</th>
								<th>Ranch</th>
								<th>Date</th>
								<th>Clock-In</th>
								<th>Clock-Out</th>
								<th>Hours Worked(w/ breaks)</th>
							</tr>
						</thead>
						<tbody id="results">
						</tbody>
					</table>
            		</div>

          </div>

      <!--</div>-->
						</div>

				</div>

				<a href="{% url 'timecard_excel' %}"><button style="float: right;margin-right: 15px;height: 50px; font-weight: 600;font-size: 15px;" type="button" class="btn btn-default" ><span class="glyphicon glyphicon-download"></span>Download .xls</button></a>
				<button style="float: right;margin-right: 15px;height: 50px; font-weight: 600;font-size: 15px;" type="button" class="btn btn-success" id="btnExport" onclick="downloadCsv()"><span style="font-size: 15px;" class="glyphicon glyphicon-download"></span>Download .csv</button>


			</div>
		<footer style="margin-top:60px" id="foot"></footer>
	</body>
</html>