<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#foot").load("{% url 'footer' %}");
				$("#head").load("{% url 'headerManager' %}");

				getReport("{{ csrf_token }}", "{% url 'timeKeeperDailyReport' %}");

			});

			function getReport(token, url) {
			$.ajax({
				method : "POST",
				url : url,
				data : {"csrfmiddlewaretoken" : token},
				datatype : "json",
				success : function(data, status, xhr) {
					if (data.success) {
						<!--$("#report").html(data);-->
						<!--console.log(data[1]);-->
						<!--console.log(data[2]);-->
						<!--console.log(data[3]);-->
					}
				}
			});
		}

		</script>
	</head>
	<body>
		<header id="head"></header>
			<div id="wrapper">
				<div id="content">
					<div class="namePage">
						<img src="{% static 'imgSmall/iconTimekeeper.png' %}"/>
						{% trans 'HC TIMEKEEPER REPORT' %}
					</div>
					<div id="report">

					</div>

				</div>

			</div>

		<footer id="foot"></footer>
	</body>
</html>