body {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	background-image: url("../img/back.jpg");
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 640px;
	min-width: 800px;
	height: 100%;
	width: 100%;
}
#content {
	margin: auto;
	text-align: center;
	padding: 10px;
}
#photoLive {
	margin: auto;
	width: 350px;
	height: 350px;
	margin-top: 9%;
}
#photoMade {
	margin: auto;
	width: 350px !important;
	height: 310px;
	margin-top: 12.7%;
}
#btnSave {
	margin-top: 15px;
	margin-right: 25px;
}
#btnTake {
	margin-top: 15px;
	margin-left: 25px;
}
#btnTakeMore {
	margin-top: 15px;
	margin-left: 25px;
}
#divEffects {
	margin: auto;
	width: 300px;
	height: 350px;
	margin-top: 9%;
	margin-left: 8%;
	float: left;
}
#divColors {
	margin: auto;
	width: 300px;
	height: 350px;
	margin-top: 9%;
	margin-right: 8%;
	float: right;
}
.btnEffect {
	width: 70px;
	height: 70px;
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 5%;
}
.btnColor {
	width: 70px;
	height: 70px;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 5%;
}
#mini1 {
	
}
#mini2 {
	
}
#mini3 {
	
}
#mini4 {
	
}
#mini5 {
	
}
#mini6 {
	
}
.clear {
	clear: both;
}